/* Copyright IBM Corp. 2001, 2008 */
/* CSS Document */ /*version 1.08 7/17/08*/
/*this file contains core styles related to layout of elements.  Additional styling for colors and background images can be found in specific theme files (defaultTheme.css, etc.)*/

/*** R E S E T ***/
/*reset styles, to get rid of browser-specific styling of elements and to set our own defaults*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
:focus{outline:1px dotted;}
body{font:normal .75em/1.5em Arial, Helvetica, sans-serif;background-position:top left;background-repeat:repeat-x}
body.lotusJapanese, .lotusJapanese *{font-family:"MS UI Gothic","MS PGothic", "Apple Gothic", Arial, Helvetica, sans-serif}
ul{list-style-type:disc;margin-left:20px;margin-top:5px;padding-left:0}
ol{list-style-type:decimal;margin-left:20px;margin-top:5px;padding-left:.2em;/*padding keeps the numbers from being cut off*/}
input, select{font-size:inherit;font-family:inherit}
caption, th, td{text-align:left;font-weight:normal;}
blockquote:before, blockquote:after, q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}

dt{padding:3px 10px;margin:10px 0 0 0;font-size:1.1em}
dd{padding:5px 10px}
em{font-style:italic}
strong{font-weight:bold}

/*the following headers are used to give heirarchy to the page*/
/*the sizes of the headers are set to support our visual styles*/
/*some header styles are also reset within certain components or sections of the page*/
h1, h2, h3, h4, h5, h6{}
h1{font-size:1.7em;font-weight:normal;line-height:1.2em}/*page header*/
h2{font-size:1.2em;font-weight:bold}/*section headers*/
h3{font-size:1.1em;font-weight:bold}/*subsection headers*/
h4{font-size:1.2em;font-weight:bold}/*entry titles*/	
h5{font-size:1.1em;font-weight:bold}/*entry details sections*/
h6{font-size:1em}
img{border:0;vertical-align:middle}
pre{font-family:"Courier New", Courier, monospace;} /*this helps eliminate discrepencies for how this displays cross-browser*/
/*internal link (default link style)*/
a:link, a:visited{text-decoration:none;}
a:hover, a:focus, a:active{text-decoration:underline;}
strong{font-weight:bold}
/***********************************************************/

/*link default styles*/
/*tag*/
.lotusRelatedTags a{background-position:left center;background-repeat:no-repeat;padding-left:10px}
/*link hover styles*/
.lotusTags a:hover, .lotusTags a:focus, a.lotusTag:hover, a.lotusTag:focus, a.lotusPerson:hover, a.lotusPerson:focus{text-decoration:none;border-bottom-width:1px;border-bottom-style:dotted}
.lotusTagBin {margin-top:10px;}
a.lotusMyLink:hover, a.lotusMyLink:focus, .lotusMyLinks a:hover, .lotusMyLinks a:focus{text-decoration:none;border-bottom-width:1px;border-bottom-style:dotted;}
/*single and group action links*/
/*this is to provide a class for overriding link colors in groups of links to indicate that the link is an action link (like the "Tag this" link in a tag group*/
a.lotusAction, a.lotusAction:visited{text-decoration:underline !important;border-bottom:0 !important;}
a.lotusAction:hover, a.lotusAction:focus, .lotusActions a:hover, .lotusActions a:focus, .lotusTags a.lotusAction:hover, .lotusTags a.lotusAction:focus {text-decoration:underline !important;border-bottom:0 !important;}
/*to assign an icon to an action link, you need to assign a unique id to the link and give it a background image.  The rest of the code is in this css declaration*/
.lotusActions a, .lotusActions a:visited{text-decoration:underline;border-bottom:0}
a.lotusDropDown, a.lotusDropDown:visited, a.lotusDropDown:active{padding-right:14px;background-position:right center ;background-repeat:no-repeat;}
.lotusIcon a{padding-left:18px;background-position:left center;background-repeat:no-repeat}
.lotusDelete{background-position:top left;background-repeat:no-repeat;} /*delete icon with rollover state*/

/*general styles*/
.lotusAccess{position:absolute;left:-3000px;width:500px;}
.lotusIndent10{padding-left:10px;}
.lotusIndent15{padding-left:15px;}
.lotusIndent20{padding-left:20px}
.lotusIndent40{padding-left:40px;}
.lotusIndent60{padding-left:60px;}
.lotusLeft{float:left;text-align:left;}
.lotusRight{float:right;text-align:right;}
.lotusCenter{text-align:center;}
.lotusClear{clear:both}
.lotusClearLeft{clear:left}
.lotusClearRight{clear:right}
.lotusAlignRight{text-align:right;}
.lotusAlignLeft{text-align:left;}
.lotusHidden{display:none} /*hides from visual UI but not from screen readers*/
.lotusLTR{direction:ltr}/*allows you to assign an element to always read LTR*/
.lotusRTL{direction:rtl}/*allows you to assign an element to always read RTL*/
.lotusNudge{} /*use this general class name with specific qualifiers when you need to adjust the position of a specific item (see entry class in this stylesheet for an example)*/
.lotusTiny{font-size:.9em}
.lotusNowrap{white-space:nowrap}

/*inline list styles - to make a list display horizontally*/
.lotusInlinelist{margin:0;padding:0}
.lotusInlinelist li{display:inline;margin:0;padding:0 7px;border-left-width:1px;border-left-style:solid}
.lotusInlinelist li.lotusFirst, .lotusInlinelist li.lotusLast{padding-left:0;border-left-width:0;}
.lotusNoDivider li{border-left-width:0}

/*** P A G E   S T R U C T U R E ***/
#lotusFrame, .lotusFrame{margin:0 auto;padding:0;min-width:990px;}
#lotusTitleBar, #lotusPlaceBar, .lotusTitleBar, .lotusPlaceBar{margin:0 10px}
#lotusMain, #lotusFooter, .lotusMain, .lotusFooter{border-style:solid;clear:both;margin:0 10px 10px 10px;overflow:hidden;}
#lotusMain, .lotusMain{padding:0 0 5px 0;min-height:400px;border-width:0 1px 1px 1px;-moz-border-radius:0 0 4px 4px;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;background-position:top left; background-repeat:no-repeat}
#lotusColLeft, .lotusColLeft{float:left;width:180px;padding:20px 10px 10px 10px;}
#lotusColRight, .lotusColRight{float:right;width:190px;padding:15px 10px 15px 0;font-size:.9em}
#lotusColRight h2, .lotusColRight h2{padding-left:8px}
#lotusColLeft .lotusFirst, #lotusColRight .lotusFirst, .lotusColLeft .lotusFirst, .lotusColRight .lotusFirst{margin-top:0;}
#lotusContent, .lotusContent{padding:16px 20px 20px 20px;overflow:hidden; /*this sets a new block formatting context, which keeps the center content separate from the floated divs.  This allows us to clear floats in the center.*/margin-right:auto;margin-left:auto;/*bidi bug fixes for Firefox*/min-height:400px;-moz-border-radius:0 0 4px 4px;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;margin-bottom:-4px/*need the min-height and the rounded corners and the negative bottom margin, to get rid of the left column background image (matches lotusMain)*/}
.lotusContentColOne{float:left;margin:10px 0 10px 10px;padding-right:10px;width:45%;}
.lotusContentColTwo{float:left;margin:10px 10px 10px 0;text-align:left;width:45%;}
/***********************************************************/

/* MKS 1/26/2011 */
#lotusASContent, .lotusASContent{overflow:hidden; /*this sets a new block formatting context, which keeps the center content separate from the floated divs.  This allows us to clear floats in the center.*/margin-right:auto;margin-left:auto;/*bidi bug fixes for Firefox*/min-height:400px;-moz-border-radius:0 0 4px 4px;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;margin-bottom:-4px/*need the min-height and the rounded corners and the negative bottom margin, to get rid of the left column background image (matches lotusMain)*/}

/*** C S S   S P R I T E S ***/
/*these refer to one graphic file that contains many individual graphics*/
/*individual graphics are positioned using CSS*/
/*individual sprites are located in the themes files*/
.lotusSprite{float:left;display:block;background-repeat:no-repeat;}
.dijit_a11y .lotusSprite{border-width:1px;border-style:solid}/*to give an outline of the sprite when images are turned off*/
/*twisty arrows for headers and drop down arrows for elements that show a drop down menu*/
.lotusArrow{margin-right:2px;width:13px;height:18px;}
.lotusDropDownSprite, .lotusDropDownActionSprite{margin-right:0;padding:1px;display:inline;float:none;text-decoration:none}
.lotusStatus .lotusArrow{width:11px;height:16px;margin-right:3px;}
#lotusColLeft .lotusArrow, .lotusColLeft .lotusArrow, .lotusTwistyOpenMenu, .lotusTwistyClosedMenu{width:11px;height:16px}
.lotusViewControl{display:table;}
.lotusViewControl span{margin:5px 10px 0 0;float:left}/*styles for the text preceeding the control*/
.lotusViewControl div{padding:1px;border-width:1px;border-style:solid;display:table;background-position:left center;background-repeat:repeat-x;}
.lotusViewControl td{vertical-align:middle;padding:0}
.lotusViewControl td div{display:block;overflow:hidden}
.lotusView{margin:0;padding:0;width:20px;height:20px;}
.dijit_a11y .lotusView{width:50px}/*to align view conrols vertically when images are turned off (so you can read the alt text)*/
/***********************************************************/

/*** A C T I O N   B A R ***/
/*this is the area above entry tables, containing action button, view controls, drop-down find-in-table, etc.*/
.lotusActionBar{margin-bottom:4px !important;/*this number works with the margin-top of the paging control to simulate 8px*/position:relative;float:left;width:100%}
.lotusActionBar2{margin-top:-25px;margin-bottom:4px !important;position:relative;float:left;width:100%} /*use this in place of lotusActionBar when you want to compress the vertical space between the actionbar and the element(s) above it*/
/***********************************************************/

/*** A C T I O N   M E N U ***/
/*these are the styles for drop-down menus*/
ul.lotusActionMenu{margin:0;padding:0;list-style-type:none;display:table;position:absolute;left:-9999px;border-width:1px;border-style:solid;width:15em;background-position:top left;background-repeat:repeat-y}
.lotusActionMenu li.lotusSelected a{background-position:4px center; background-repeat:no-repeat;}
.lotusActionMenu li.lotusMenuSeparator{border-top-width:1px;border-top-style:solid !important}
.lotusActionMenu a, .lotusActionMenu a:visited{padding:3px 3px 5px 25px;text-decoration:none;display:block;background-position:3px center;background-repeat:no-repeat}
/*additional styles for dijit drop-down menus (sit on top of dijit.css)*/
.dijitMenu{border-width:1px !important;border-style:solid !important;/*need !important because dijitReset comes after dijitMenu in the list of classes*/}
.dijitMenuTable{background-position:left top;background-repeat:repeat-y;}
.dijitMenuItem td{white-space:nowrap;padding:2px 0;}
.dijitMenuItemIcon{width:25px;height:16px;background-position:center center}
.dijitMenuItemLabel{padding-left:5px !important;padding-right:5px !important;}
.dijitMenuSeparatorTop{margin-top:0;border-bottom-width:1px;border-bottom-style:solid}
.dijitMenuSeparatorBottom{margin-bottom:0;border:0;}
/***********************************************************/

/*** B A N N E R ***/
/*this is the very top of the UI, that contains the logo, application links, user name, login/logout*/
#lotusBanner, .lotusBanner{padding:5px 15px 4px 30px;text-align:right;overflow:hidden}
#lotusBanner #lotusLogo, .lotusBanner .lotusLogo{float:left;}
#lotusBanner ul, .lotusBanner ul{margin-top:3px;float:right;}		
#lotusBanner ul.lotusLinks, .lotusBanner ul.lotusLinks{padding-left:20px;float:left;}
#lotusBanner ul.lotusLinks li, .lotusBanner ul.lotusLinks li{border-left-width:0;}
#lotusBanner ul li, .lotusBanner ul li{padding:0 2px;}
#lotusBanner ul.lotusLinks li.lotusSelected, .lotusBanner ul.lotusLinks li.lotusSelected{padding:3px 5px}
#lotusBanner ul.lotusLinks li.lotusSelected a, .lotusBanner ul.lotusLinks li.lotusSelected a{font-weight:bold;}
#lotusBanner ul li a, #lotusBanner ul li span.lotusUser, .lotusBanner ul li a, .lotusBanner ul li span.lotusUser{padding:3px 8px;}
#lotusBanner ul.lotusLinks li.lotusSelected a, .lotusBanner ul.lotusLinks li.lotusSelected a{text-decoration:none}
/***********************************************************/

/*** B R E A D C R U M B S ***/
/*these sit above the page header (lotusHeader)*/
/*use lotus divider for an image in between breadcrumbs that when clicked shows a drop-down menu, otherwise, just use &gt; between breadcrumbs*/
.lotusBreadcrumbs{margin:0 0 5px 0}
.lotusBreadcrumbs .lotusDivider{padding:0 3px;background-position:left center;background-repeat:no-repeat}
.lotusBreadcrumbs .lotusDivider:hover, .lotusBreadcrumbs .lotusDivider:focus, .lotusBreadcrumbs .lotusDivider:active{text-decoration:none}
/***********************************************************/

/*** B U T T O N S ***/
/*button in left column, set width*/
.lotusButton{margin-bottom:10px;width:174px;border-width:1px;border-style:solid;text-align:center;}
.lotusButton a{padding:7px 0;display:block;border-width:0 1px 1px 1px;border-style:solid;background-position:center left;background-repeat:repeat-x;text-decoration:none;cursor:pointer;font-size:1.3em;font-weight:bold}
/*action buttons - green and gray*/
/*put the lotusBtn class on either a span around a link or on an input button in a form*/
.lotusBtnContainer{margin-bottom:0;padding-bottom:0;white-space:nowrap;}/*put this around a bunch of "link" buttons*/
span.lotusBtn{margin-right:5px;border-width:1px;border-style:solid;display:-moz-inline-box/*for FF2*/;display:inline-block;text-align:center}
span.lotusBtn a{padding:1px 10px 2px 10px;display:block;border-width:0 1px 1px 1px;border-style:solid;background-position:center left;background-repeat:repeat-x;text-decoration:none;white-space:nowrap;font-size:.9em;font-weight:bold}
input.lotusBtn{padding:1px 10px 2px 10px;border-width:1px;border-style:solid;background-position:center left;background-repeat:repeat-x;text-decoration:none;white-space:nowrap;font-size:.9em;font-weight:bold}
.lotusBtnDivider{border-bottom-width:1px;border-bottom-style:solid;padding-bottom:5px}/*add this as an additional class when you need a bottom divider for the buttons*/
span.lotusBtnAction a, span.lotusBtnSpecial a{border-width:0 1px 1px 1px;}/*the lotusBtnAction class is an additional class on the lotusBtn span for the green buttons*/
.lotusButton a:hover, .lotusButton a:focus, span.lotusBtn a:hover, span.lotusBtn a:focus{text-decoration:none;}/*gets rid of underline on button hover*/
.lotusBtnDisabled a{cursor:default}/*no cursor change on disabled button*/
/***********************************************************/

/*** C A P T I O N ***/
/*provides a gray background for a caption above another component*/
.lotusCaption{margin-top:.2em;padding:2px 5px;height:2em;line-height:2em;clear:both;text-align:center;}
.lotusCaption .lotusMeta{font-size:.9em}
/***********************************************************/

/*** C O M M E N T ***/
/*comments are found throughout the UI.  The plain lotusComment class has bubble styling.  Comments within a discussion have a different format*/
/*some somersaults to get the comment "points" to work.  The margin top will only be picked up by the first comment.  The rest of the comments are spaced by the bottom relative margin in the comment body - which contains the height of the header plus additional spacing*/
.lotusComment{position:relative;margin:0 0 2px -10px;padding:0 0 0 10px;}
.lotusCommentHeader{padding-left:15px;padding-bottom:3px;position:absolute;top:0;left:16px;z-index:1;height:1.5em;background-position:left bottom;background-repeat:no-repeat;}
.lotusCommentBody{position:relative;top:1.6em;margin:0 10px 2em 0;padding:5px 10px;border-width:1px;border-style:solid;-moz-border-radius:4px;-webkit-border-radius:4px}
/* Comments that appear with small picture */
.lotusCommentPic {margin-top:10px;}
.lotusCommentPic .lotusCommentHeader {padding-bottom:10px;}
.lotusCommentPic .lotusCommentBody {top:2.2em;}
/*lotusDiscussion is for discussion forums, which treat comments differently*/
.lotusDiscussion .lotusComment{position:relative;margin:10px 0 10px -15px;padding:0;border-width:1px 0 0 1px;border-style:solid;}
.lotusDiscussion .lotusFlatComment{margin:10px 0 1px -25px}
.lotusDiscussion .lotusCommentHeader{position:static;margin:0;padding:4px 4px 3px 4px;height:auto;overflow:hidden;background-position:left top;background-repeat:repeat-x}
.lotusDiscussion .lotusCommentHeader img{margin-right:5px}
.lotusDiscussion .lotusCommentArrow{margin-top:5px}
.lotusDiscussion .lotusCommentArrow:hover, .lotusDiscussion .lotusCommentArrow:focus{text-decoration:none}
.lotusDiscussion .lotusCommentBody{margin:0;padding:0 0 0 30px;position:static;-moz-border-radius:0;-webkit-border-radius:0;border-width:0} 
.lotusDiscussion .lotusFlatComment .lotusCommentBody{padding-right:0}
/*lotusComments in the person card contains status information for the person*/
.lotusPersonDetails .lotusComment{margin:-10px 0 2px -10px;padding:0 0 0 10px;position:relative;}
.lotusPersonDetails .lotusCommentHeader{padding-left:15px;padding-bottom:3px;position:absolute;top:0;left:16px;z-index:1;height:1.6em;background-position:left bottom;background-repeat:no-repeat;}
.lotusPersonDetails .lotusCommentBody{margin:-1px 0 2.2em 0;padding:5px 10px;position:relative;top:1.7em;border-width:1px;border-style:solid;z-index:0;-moz-border-radius:4px 4px 6px 6px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-webkit-border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px}
/*fixes for content coming in from the RTE*/
.lotusCommentBody ul{list-style-type:disc;margin-left:20px;margin-top:5px;padding-left:0;}
.lotusCommentBody ol{list-style-type:decimal;margin-left:20px;margin-top:5px;padding-left:.2em;/*padding keeps the numbers from being cut off*/} 
.lotusCommentBody ul li{overflow:visible}
.lotusCommentBody ol li {overflow:visible;}
.lotusCommentBody ul ul, .lotusCommentBody ol ul {list-style-type:circle;}
.lotusCommentBody ul ul ul, .lotusCommentBody ol ul ul, .lotusCommentBody ol ol ul{list-style-type:square}
.lotusCommentBody blockquote{margin:5px 20px}
/***********************************************************/

/*** D I A L O G ***/
/*this can be wrapped in a dojo dialog, if desired, which gives you the lightbox behavior for free*/
.lotusDialogBorder{border-width:4px;border-style:solid;max-width:600px;}
.lotusDialog{opacity:1;height:auto;}
.lotusDialog h1{font-weight:bold;padding:12px 12px 12px 20px;border-bottom-width:1px;border-bottom-style:solid;background-position:left bottom;background-repeat:repeat-x;}
.lotusDialog h2{font-weight:bold;padding:12px 12px 12px 20px;margin:0 !important/*so it doesn't pick up the margins from lotusForm*/}
.lotusDialog .lotusClose{border-width:1px;border-style:solid}
.lotusDialog .lotusText{width:97%}
.lotusDialog .lotusDialogContent{padding:20px 12px 20px 20px;border-bottom-width:1px;border-bottom-style:solid;max-height:300px;overflow:auto}
.lotusDialog .lotusDialogFooter{padding:12px 12px 12px 20px;}
.lotusDialog td.lotusFormLabel{vertical-align:top;}
.lotusDialog ul li{margin-bottom:3px;list-style:none;}
/***********************************************************/

/*** F E E D S **/
/*the feed links under the content*/
.lotusFeeds{margin:5px 10px;font-size:.9em}
.lotusFeeds a.lotusFeed{padding-left:20px;margin-right:7px;background-position:left center;background-repeat:no-repeat}
/***********************************************************/

/*** F O O T E R **/
/*this sits at the bottom of the UI and contains a lot of support links, like help and about*/
#lotusFooter, .lotusFooter{padding:10px 10px 10px 0;border-width:1px;-moz-border-radius:4px;-webkit-border-radius:4px;font-size:.9em}
#lotusFooter p, .lotusFooter p{line-height:1.3em}
#lotusFooter ul, .lotusFooter ul{margin:0;padding:0;list-style-type:none}
#lotusFooter li, .lotusFooter li{line-height:1.2em;padding:.3em 0}
#lotusFooter th, #lotusFooter td, .lotusFooter th, .lotusFooter td{border-right-width:1px;border-style:solid}
#lotusFooter th.lotusLast, #lotusFooter td.lotusLast, .lotusFooter th.lotusLast, .lotusFooter td.lotusLast{border-width:0}
#lotusFooter th, .lotusFooter th{padding:5px 10px 3px 25px;width:20%;font-weight:bold;font-size:1.1em}
#lotusFooter td, .lotusFooter td{padding:0 50px 10px 25px;}
/***********************************************************/

/*** F O R M S ***/
/*these styles are for inline and popup forms*/
.lotusForm h2 {margin:25px 15px 15px 25px;font-size:1.3em;}
.lotusForm tr.lotusFormFieldRow td, .lotusForm td.lotusFormFieldRow{padding-bottom:10px}
.lotusTable .lotusForm td, .lotusFormTable td {border-width:0 !important}
.lotusForm td.lotusFormLabel {vertical-align:top;text-align:right;padding-right:10px;}
.lotusForm td label{font-weight:bold;}
.lotusForm label.lotusCheckbox{font-weight:normal}/*use for radio buttons, too*/
.lotusText {width:99%;}
.lotusForm textarea {margin-bottom:7px;}
.lotusFormErrorSummary div {margin:10px 15px 3px 25px;}
.lotusFormErrorSummary ul {margin:0 15px 10px 40px;list-style-type:disc;/*list-style-position:inside;*/}
.lotusFormError, .lotusFormRequired {font-weight:bold;}
td.lotusFormRequired {padding-bottom: 0 !important;}
.lotusFormTable {width:100%;}
.lotusFormTable td{border-width:0 !important}
.lotusFormSection {padding:5px 0 0 0;}
/* button elements */
.lotusFormTable .lotusFormFooter{padding:10px 25px !important;}
input.lotusFormButton{font-weight:bold;margin-right:15px;padding:1px 10px 2px 10px;border-width:1px;border-style:solid}
.lotusDashboardSearch input.lotusFormButton {margin-top:20px;}
/*special classes for forms in left and right columns*/
#lotusColLeft .lotusFormTable, .lotusColLeft .lotusFormTable, #lotusColRight .lotusFormTable, .lotusColRight .lotusFormTable{margin-left:-10px;}
#lotusColLeft .lotusFormTable td, .lotusColLeft .lotusFormTable td, #lotusColRight .lotusFormTable td, .lotusColRight .lotusFormTable td{padding-left:10px;padding-top:5px}
#lotusColLeft .lotusFormFooter, .lotusColLeft .lotusFormFooter, #lotusColRight .lotusFormFooter, .lotusColRight .lotusFormFooter{padding-left:10px !important;}
/*need to qualify this with lotusForm so it doesn't impact the text inputs on the find control*/
#lotusColLeft .lotusForm input.lotusText, .lotusColLeft .lotusForm input.lotusText, #lotusColRight .lotusForm input.lotusText, .lotusForm .lotusColRight input.lotusText{/*width:165px !important*/}
#lotusColRight .lotusForm input.lotusText, .lotusForm .lotusColRight input.lotusText{padding:1px !important}
/***********************************************************/

/*** H E A D E R ***/
/*found at the top of the page, center column*/
.lotusHeader{margin-bottom:5px;margin-top:-5px;overflow:hidden;position:relative}
div.lotusHeader{margin-bottom:15px}/*this is for a simple header, not in a table layout, to adjust the bottom margin*/
.lotusHeader img{margin-right:10px;}
.lotusHeader .lotusDetails img, .lotusHeader .lotusBtnContainer img{margin-right:0;} /*to set image behavior back to normal, details row*/
.lotusHeader .lotusDetails{margin-top:5px;position:relative;white-space:break-word;clear:both}
.lotusHeader .lotusBtnContainer{margin-top:10px;}
/*filters sit under the header and are interactive (you can remove them)*/
.lotusFilters{margin-top:5px;line-height:1.8em;font-size:.9em}
.lotusFilters a.lotusFilter{padding:1px 3px;border-width:1px;border-style:solid;-moz-border-radius:4px;-webkit-border-radius:4px;text-decoration:none}
.lotusFilters .lotusClose{padding:0 4px}
.lotusFilters .lotusDivider{padding:0 5px}
.lotusFilters .lotusIcon:hover, .lotusFilters .lotusIcon:focus{text-decoration:none}
/***********************************************************/

/*** I N F O   B O X ***/ 
/*this is used for help and tips*/
.lotusInfoBox, .portlet-msg{margin:15px 0 5px 0;padding:5px;border-width:1px;border-style:solid;-moz-border-radius:2px;-webkit-border-radius:2px;overflow:hidden}
.lotusInfoBox h3, .portlet-msg h3{margin:5px 0 10px 0;padding:0 0 0 5px;overflow:hidden}
.lotusInfoBox h3 img, .portlet-msg h3 img{margin:5px 5px 0 0;border-width:1px;border-style:solid}
.lotusInfoBox h4, .portlet-msg h4{margin:2px 5px;font-weight:bold}
.lotusInfoBox p, .portlet-msg p{margin:0;padding:5px;}
.lotusInfoBox ul, .portlet-msg ul{list-style-type:disc;margin-left:20px;margin-top:5px;padding-left:0}
.lotusInfoBox .lotusInlinelist, .portlet-msg .lotusInlinelist{padding-bottom:5px;padding-left:0;}
.lotusInfoBox .lotusInlinelist li, .portlet-msg .lotusInlinelist li{padding-bottom:5px;border-left-width:0;}
/*put lotusHelp as an additional style to lotusInfoBox for help popups*/
.lotusHelp{position:absolute;width:200px;top:0;left:-9999px;padding:4px;}
.lotusHelp .lotusInfoBox{margin:0;border-width:1px;border-style:solid;-moz-border-radius:0;-webkit-border-radius:0;background-position:left top;background-repeat:repeat-x;}
.lotusHelp h3{margin:4px 3px 0 0;float:left}
.lotusMedium{width:300px}/*you can put this as an additional class to set the width to 300 pixels*/
/***********************************************************/

/*** L I S T S ***/ 
/*use in conjuction with sections if you want a more complex list*/
ul.lotusList{clear:both;overflow:hidden;margin:0;padding:0;list-style-type:none}
ul.lotusList li {margin:1px 0;padding:3px 2px 3px 2px;clear:both;}
ul.lotusEditable li{text-align:right;overflow:hidden} /*use this class in combination with list class - allows you to put a delete button on a list item*/
.lotusList a, ul.lotusList li.lotusSelected a{border-bottom-width:1px;border-bottom-style:dotted}/*to keep links for jumping on hover*/
ul.lotusList li.lotusSelected a{text-decoration:none;}
ul.lotusList img.lotusLeft{margin-right:3px}
ul.lotusList div p{margin-top:3px}/*second line of data*/
/***********************************************************/

/*** M E N U ***/
/*this is the green menu found at the top of the left column*/
/*this menu is set up to allow for rounded corners in all browsers and is a set width*/
.lotusMenu, .portlet-menu{margin:0 0 15px 0;padding-top:5px;width:178px;background-position:top left;background-repeat:no-repeat;}
.lotusMenu .lotusBottomCorner, .portlet-menu .lotusBottomCorner{padding-bottom:5px;background-position:bottom left;background-repeat:no-repeat;}
.lotusMenu .lotusInner, .portlet-menu .lotusInner{background-position:top left;background-repeat:repeat-y;overflow:hidden}
.lotusMenu .lotusMenuSection{overflow:hidden;margin:0 0 3px 0;padding-bottom:5px;border-bottom-width:1px;border-bottom-style:solid;}/*creates a section in the menu, with a divider at the bottom*/
.lotusMenu .lotusMenuSubsection{margin:10px 0 0 20px;}/*allows you to indent a section of the menu*/
.lotusMenu h2, .portlet-menu h2{margin:0 0 7px 13px;padding:0;font-size:1em}
.lotusMenu h3, .portlet-menu h3{margin:0 5px 0 5px;padding:2px 0 2px 10px;}/*not sure we are still using this*/
.lotusMenu .lotusMenuSubsection h3{margin-left:-15px}
.lotusMenu h3.selected, .portlet-menu h3.selected{border-width:1px;border-style:solid;}
.lotusMenu h3 a{margin-right:5px}
/*Use a ul element for menu items. Put an additional lotusIcons class on it if your menu items have icons*/
.lotusMenu ul, .portlet-menu ul{margin:0;padding:0;list-style-type:none;}
.lotusMenu li img, .portlet-menu .lotusMenu li img{margin:0 3px 0 0}
.lotusMenu li a, .lotusMenu li a:visited, .portlet-menu li a, .portlet-menu li a:visited{padding:5px 0 5px 13px;display:block;text-decoration:none;font-weight:normal;line-height:1.0em}
.lotusMenu ul.lotusIcons img{vertical-align:text-bottom}
.lotusMenu ul.lotusIcons a{padding:3px 0 3px 13px}
.lotusMenu li a:hover, .lotusMenu li a:focus, .portlet-menu li a:hover, .portlet-menu li a:focus{text-decoration:underline}
.lotusMenu li.lotusSelected a, .lotusMenu li.lotusSelected a:visited, .portlet-menu li.lotusSelected a, .portlet-menu li.lotusSelected a:visited{margin:0 5px 3px 5px;padding-left:6px;border-width:1px;border-style:solid;text-decoration:none;cursor:default;font-weight:bold;}
.lotusMenu div.lotusChunk, .portlet-menu .lotusMenu div.lotusChunk {margin:5px 5px 0 0;}/*lotusChunk allows you to apply vertical spacing within sections - wrap a div with this class around "chunks" of data*/
.lotusMenu .lotusMenuFeed li span {line-height:1.4em;display:block;float-left;margin-left:20px;}/*this is for a feed icon/link for proper wrapping*/
/***********************************************************/

/*** M E S S A G E S ***/
/*these are the yellow warning/error messages that show up at the top of the content area*/
.lotusMessage{padding:5px 5px 5px 5px;margin-bottom:12px;border-width:1px;border-style:solid;-moz-border-radius:4px;-webkit-border-radius:4px;overflow:hidden;zoom:1}
.lotusMessage img {margin:2px 5px 0 0;float:left}
.lotusMessage span{display:block;margin-left:20px}
/***********************************************************/

/*** P A G I N G***/
/*these are the page bars at the top and bottom of a table/list of entries*/
.lotusPaging{margin-top:2px;padding:2px 5px;height:2em;line-height:2em;clear:both;text-align:center;font-size:.9em;}
.lotusPaging a, .lotusPaging a:visited{font-weight:bold !important;}
.lotusPaging input{width:20px;text-align:center;}
.lotusPaging div{padding-left:5px}
.lotusPaging .lotusInlinelist li{padding:0 6px;}
.lotusPaging .lotusInlinelist li.lotusLast{padding-left:0}
/***********************************************************/

/*** P L A C E   B A R 	***/
/*this place bar shows up right below the title bar and tells user what place or community they are in*/
#lotusPlaceBar, .lotusPlaceBar{position:relative;border-width:0 1px 1px 1px;border-style:solid;overflow:hidden;background-position:center left;background-repeat:repeat-x;}
#lotusPlaceBar h2, .lotusPlaceBar h2{padding:2px 0 0 12px;float:left;font-size:1.4em;line-height:2em;font-weight:normal}
#lotusPlaceBar .lotusBtnContainer, .lotusPlaceBar .lotusBtnContainer{float:right;padding:.5em 10px 0 0;}/*buttons show up on the right side of the place bar*/
/***********************************************************/

/*** S E A R C H ***/
/*these styles support the search UI in the title bar*/
.lotusSearch{}
.lotusSearch input, .lotusSearch select{vertical-align:middle;}
.lotusSearch .lotusSearchButton{border-width:1px;border-style:solid;}
.lotusSearch span.lotusBtn a{padding:0 7px}
.lotusSearch .lotusText{margin:0 1px;padding:2px 5px;width:11em;border-width:1px;border-style:solid;}
.lotusSearch select{margin:0 1px;border-width:1px;border-style:solid;padding:1px}
/***********************************************************/

/*** S E A R C H   T A B ***/
/*this is the UI for a search/find control that hides the input fields until the user opens them*/
/*this must be inside a relatively positioned div - override default positioning in the code, if necessary*/
.lotusSearchTab{position:absolute;right:0;bottom:0;padding:.3em 5px;z-index:1;border-width:1px;border-style:solid;-moz-border-radius:4px;-webkit-border-radius:4px;}
.lotusTabExpanded{-moz-border-radius:4px 4px 0 0;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px}
.lotusSearchTab a, .lotusSearchTab a:visited{padding-right:18px;display:block;background-position:center right;background-repeat:no-repeat;text-decoration:none;font-weight:bold}
.lotusSearchForm{margin:0;padding:12px 10px;position:absolute;top:1.9em;right:0;display:none;z-index:0;border-width:1px;border-style:solid;-moz-border-radius:4px 0 4px 4px;-webkit-border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;white-space:nowrap}
.lotusSearchForm input.lotusText{width:15em}
.lotusSearchForm input, .lotusSearchForm select{vertical-align:middle;margin-left:3px;}
/***********************************************************/

/*S E C T I O N */
/*this is used to space out different elements in all three columns*/
/*a section contains a header*/
.lotusSection, .portlet-section{margin:15px 0 0 0;padding:2px 0 5px 0;clear:both}
.lotusSection div.lotusChunk, .lotusSection div.lotusSubsection{margin:5px 0 0 0;clear:both;}/*for further sectioning within a section*/
div.lotusSubsection div.lotusChunk{margin:0}
#lotusContent .lotusSection h2, 
.lotusContent .lotusSection h2{padding-top:5px;padding-bottom:5px;border-top-width:1px;border-top-style:solid;margin-bottom:5px}/*section header and subheader, center column*/
.lotusSection h2.lotusIcons img, .lotusSection h3.lotusIcons img, .portlet-section h2.lotusIcons img, .portlet-section h3.lotusIcons img{margin-left:3px}
.lotusSection div.lotusLast, .portlet-section div.lotusLast{margin-bottom:0}/*gets rid of extra bottom margin on the last "subsection"*/
.lotusDiscussion .lotusSection h2{padding-left:5px}
/*section adjustments for the left column*/
#lotusColLeft .lotusSection, 
.lotusColLeft .lotusSection{border-bottom-width:1px;border-bottom-style:solid;padding-bottom:10px}
#lotusColLeft .lotusSubsection, 
.lotusColLeft .lotusSubsection{margin:15px 0 0 11px}
#lotusColLeft .lotusSection div.lotusChunk, 
.lotusColLeft .lotusSection div.lotusChunk{margin:5px 0 0 11px}
#lotusColLeft .lotusSubsection div.lotusChunk, 
.lotusColLeft .lotusSubsection div.lotusChunk{margin:5px 0 0 0}
#lotusColLeft .lotusSection .lotusList{margin:0 -4px} /*allows selection to extend to the left and right of the list items*/
#lotusColLeft .lotusSection .lotusList, #lotusColLeft .lotusSection .lotusInlinelist, #lotusColLeft .lotusSection .lotusTags, 
.lotusColLeft .lotusSection .lotusList, .lotusColLeft .lotusSection .lotusInlinelist, .lotusColLeft .lotusSection .lotusTags{font-size:.9em}
#lotusColLeft .lotusSection .lotusList li{padding-left:5px;padding-right:5px}
#lotusColLeft .lotusSection input.lotusText, .lotusColLeft .lotusSection input.lotusText{padding:3px 3px 3px 6px;line-height:1em;width:137px;}
#lotusColRight .lotusSection input.lotusText, .lotusColRight .lotusSection input.lotusText{padding:3px 3px 3px 6px;line-height:1em;width:139px;}
#lotusColLeft .lotusSection, #lotusColLeft .lotusSection input, .lotusColLeft .lotusSection, .lotusColLeft .lotusSection input{font-size:1em;line-height:1.2em}
#lotusColLeft .lotusSection h2, #lotusColLeft .lotusSection h3, 
.lotusColLeft .lotusSection h2, .lotusColLeft .lotusSection h3{margin:0;padding:0 0 2px 0;clear:both;overflow:hidden;line-height:1.2em;}
#lotusColLeft .lotusSection h2, .lotusColLeft .lotusSection h2{font-size:1.1em}
#lotusColLeft .lotusSection h2 span.lotusLeft, .lotusColLeft .lotusSection h2 span.lotusLeft, #lotusColRight .lotusSection h2 span.lotusLeft, .lotusColRight .lotusSection h2 span.lotusLeft{/*width:152px*/}/*this is to set up proper wrapping of header text when a help icon exists*/
#lotusColRight .lotusSection h2 a.lotusRight, .lotusColRight .lotusSection h2 a.lotusRight{margin-right:-7px} /*moves help icon closer to right edge of header in right column*/
#lotusColLeft .lotusSection .lotusBtn, 
.lotusColLeft .lotusSection .lotusBtn{width:99%}
#lotusColLeft .lotusSection .lotusBtn a, 
.lotusColLeft .lotusSection .lotusBtn a{padding:4px 0}
#lotusColLeft .lotusSection div.lotusLast, 
.lotusColLeft .lotusSection div.lotusLast{border-bottom-width:0} /*.section div.last is for the last subsection*/

/*section adjustments for the right column*/
#lotusColRight div.lotusChunk{margin:5px 2px 0 8px;}
#lotusColRight .lotusSection, .lotusColRight .lotusSection, #lotusColRight .lotusMeta, .lotusColRight .lotusMeta{font-size:1em;line-height:1.4em}
#lotusColRight .lotusSection h2, #lotusColRight .lotusSection h3, 
.lotusColRight .lotusSection h2, .lotusColRight .lotusSection h3{padding:4px 10px 4px 8px}
#lotusColRight .lotusSection h2, .lotusColRight .lotusSection h2{font-size:1.1em;/*display:table;width:165px;*/overflow:hidden}
#lotusColRight h2 .lotusArrow, .lotusColRight h2 .lotusArrow{/*display:none*/margin-right:-5px}

#lotusColLeft .lotusInlinelist li, #lotusColRight .lotusInlinelist li, 
.lotusColLeft .lotusInlinelist li, .lotusColRight .lotusInlinelist li{padding:0 4px}
#lotusColLeft .lotusInlinelist li.lotusFirst, #lotusColRight .lotusInlinelist li.lotusFirst, 
.lotusColLeft .lotusInlinelist li.lotusFirst, .lotusColRight .lotusInlinelist li.lotusFirst{padding-left:0}

/*draggable sections*/
.lotusDraggableSection{margin-top:5px;padding-bottom:0}
.lotusDraggableSection h2{cursor:move/*tbd*/}
/****************************************************************/

/*** S O R T ***/
/*these are for the sort controls found at the top of a table/list of entries*/
.lotusSort{margin:3px 10px;font-size:.9em}
.lotusSort .lotusInlinelist li{padding:0 5px}
.lotusSort .lotusInlinelist li.lotusFirst{padding-left:0}
.lotusSort a{padding:2px 0;background-position:96% center;background-repeat:no-repeat;text-decoration:underline}
a.lotusMoreSorts{padding:2px 12px 2px 5px;}
a.lotusActiveSort{text-decoration:none}
.lotusSort .lotusAscending, .lotusSort .lotusDescending{padding-right:12px;}
a.lotusActiveSort:hover, a.lotusActiveSort:focus, a.lotusActiveSort:active{text-decoration:none}
.lotusSort a.lotusMoreSorts:hover, .lotusSort a.lotusMoreSorts:focus, .lotusSort a.lotusMoreSorts:active{text-decoration:none}
/****************************************************************/

/*** T A B L E S ***/
/*layout table*/
/*note, if you need to use the structure of a relative div containing an absolute div within a layout table, be aware that Safari will only show the portion of your absolute div that is within the table area.  This is by design.*/
/*there is no cellpadding built into these tables. Used judiciously for complex layouts.*/
table.lotusLayout td{padding:0;vertical-align:top;text-align:left;} /*default alignment*/
table.lotusLayout td.lotusvAlignMid{vertical-align:middle}/*allows you to override default alignment*/
/*used for presenting information in a vertical format*/
.lotusVertTable th, .lotusVertTable td{padding:2px}
.lotusVertTable th{padding-right:50px;text-align:left;}
/*entry/data table*/
.lotusTable{width:100%;}
.lotusTable th, .lotusTable td{padding:5px 2px 5px 2px;vertical-align:top;}
.lotusTable .lotusSummary td{padding:5px 2px 0 2px}
.lotusTable .lotusDetails td, .lotusTable .lotusMore td{padding:0 2px 5px 2px}
.lotusTable td{border-top-width:1px;border-top-style:solid}
.lotusTable .lotusDetails td, .lotusTable .lotusFirst td, .lotusTable .lotusMore td{border-top-width:0}
.lotusTable th.lotusFirstCell, .lotusTable td.lotusFirstCell{padding-left:10px}
.lotusTable th.lotusLastCell, .lotusTable td.lotusLastCell{padding-right:10px }
.lotusTable th.lotusAltCell, .lotusTable td.lotusAltCell{border-right-width:1px;border-right-style:solid;border-bottom-width:1px;border-bottom-style:solid}
.lotusTable div.lotusChunk{margin:7px 0;clear:none}
.lotusTable .lotusSS{font-size:.9em;white-space:nowrap;width:30px}
.lotusTable .lotusType{margin-left:5px;padding:0 0 6px 20px;font-weight:normal;font-size:.75em;background-position:left top;background-repeat:no-repeat;}/*allows you to add an image and text inside a header to indicate the type of entry - requires an additional class to define the type (in defaultThemes.css)*/
/*h4 tags are used for entry titles*/
.lotusTable h4.lotusComplete, .lotusTable h4.lotusComplete a{text-decoration:line-through} /*for to do items*/
/*h5 tags are used for subsections in entry details*/
.lotusTable h5{margin:12px 0 2px 0;}
/*when the h4 tag occurs in the details row (like in notifications), we need some bottom margin*/
.lotusTable .lotusDetails h4{margin-bottom:2px}
/*lotusDiscussion is for discussion forums*/
/*you need to make sure that your details row only uses one table cell, which spans all columns of the summary row above, so borders will work properly*/
.lotusDiscussion .lotusSummary td{padding-bottom:2px;border-top-width:5px;border-top-style:solid}/*this is to separate the individual entries, now that they have a blue background on the summary row.  You need to assign the lotusSummary class to all the first rows in the discussion table if there is more than one entry displayed.*/
.lotusDiscussion .lotusTable .lotusDetails td{padding:10px 5px 0 25px;}
.lotusDiscussion td.lotusFirstCell{padding-left:5px}
.lotusDiscussion .lotusIndent20{margin-left:20px}
.lotusDiscussion .lotusKey{margin:5px;}
.lotusDiscussion .lotusKey span{margin:0 5px;font-size:.9em}
.lotusTable .lotusDivider{padding:0 5px}
.lotusTable .lotusFirstCell input{margin:3px 0 0 0}
/*this table also shows up at the top of the UI, for announcements.*/
.lotusInfoTable{margin:0 0 12px 0;border-width:1px;border-style:solid;-moz-border-radius:2px;-webkit-border-radius:2px;overflow:hidden;background-position:top left;background-repeat:repeat-x;}
.lotusInfoTable h2{position:relative}
.lotusInfoTable th, .lotusInfoTable td{padding:5px 10px}
.lotusInfoTable .lotusClose{position:absolute;right:-5px;top:0;border-width:1px;border-style:solid}
.lotusTable .lotusMeta, .lotusTable .lotusActions{font-size:.9em}
.lotusTable .lotusActions{white-space:nowrap}/*fix for Safari*/

/*** T A B S ***/
/*tabs are used in content area and titlebar.  The style adjustments needed for the titlebar are grouped with the titleBar styles*/
.lotusTabContainer{height:3em;position:relative;border-bottom-width:1px;border-bottom-style:solid;z-index:1;margin-bottom:10px}
ul.lotusTabs, .portlet-tab{margin:0;padding:0;position:absolute;left:10px;bottom:-1px;overflow:hidden;list-style:none;}
.lotusTabs li, .portlet-tab li{margin-right:2px;padding-left:3px;float:left;border-width:0 0 1px 0;border-style:solid;background-position:top left;background-repeat:no-repeat;}
.lotusTabs a, .lotusTabs a:visited, .portlet-tab a, .portlet-tab:visited{padding:5px 8px 5px 5px;display:block;background-position:top right;background-repeat:no-repeat;text-decoration:none;line-height:1em;}/*line-height is for IE, to keep the selected tab sitting on top of the border when there is a drop-down image in the tab*/
.lotusTabs li.lotusSelected{background-position:top left;background-repeat:no-repeat;}
.lotusTabs li.lotusSelected a, .lotusTabs li.lotusSelected a:visited, .portlet-tab li.lotusSelected a, .portlet-tab li.lotusSelected a:visited{background-position:top right;background-repeat:no-repeat;}

/*** T A G   C L O U D ***/
/*a tag cloud is a visual way of displaying the relative importance of tags, with lotusF1 being of least importance and lotusF5 being most important*/
.lotusTagCloud ul{margin:0;padding:0}
.lotusTagCloud li{display:inline}
.lotusTagCloud a{text-decoration:none;font-weight:bold}
.lotusTagCloud a:hover, .lotusTagCloud a:focus{text-decoration:underline;}
a.lotusF5, a.lotusF5:visited{font-size:115%;}
a.lotusF4, a.lotusF4:visited{font-size:108%;}
a.lotusF3, a.lotusF3:visited{font-size:100%;}
a.lotusF2, a.lotusF2:visited{font-size:95%;}
a.lotusF1, a.lotusF1:visited{font-size:90%;}
.lotusColLeft .lotusTagCloud, #lotusColLeft .lotusTagCloud, .lotusColRight .lotusTagCloud, #lotusColRight .lotusTagCloud {width:170px; overflow:hidden;} 
/***********************************************************/

/*** T I T L E   B A R ***/
/*the blue bar under the banner, that contains tabs and search UI*/
#lotusTitleBar, .lotusTitleBar{height:3em;position:relative;border-bottom-width:1px;border-bottom-style:solid;background-position:top left;background-repeat:repeat-x;}
#lotusTitleBar .lotusRightCorner, .lotusTitleBar .lotusRightCorner{background-position:top right;background-repeat:no-repeat;height:3em;padding-right:6px}
#lotusTitleBar .lotusInner, .lotusTitleBar .lotusInner{background-position:top left;background-repeat:no-repeat;height:3em;}
#lotusTitleBar h2, .lotusTitleBar h2{padding:3px 0 0 12px;float:left;font-size:1.5em;line-height:2em;letter-spacing:0;width:200px;font-weight:normal}
#lotusTitleBar .lotusTabs, #lotusTitleBar .portlet-tab, 
.lotusTitleBar .lotusTabs, .lotusTitleBar .portlet-tab{left:13px}
#lotusTitleBar .lotusTabs li, .lotusTitleBar .lotusTabs li{padding-left:5px;}
#lotusTitleBar .lotusSearch, .lotusTitleBar .lotusSearch{position:absolute;top:.7em;right:5px} 
#lotusTitleBar .lotusTabs a, #lotusTitleBar .lotusTabs a:visited, 
.lotusTitleBar .lotusTabs a, .lotusTitleBar .lotusTabs a:visited{display:block;padding:8px 10px 6px 7px;text-decoration:none;line-height:1em;background-position:top right;background-repeat:no-repeat;font-weight:bold;line-height:1em}/*line-height is for IE, to keep the selected tab sitting on top of the border when there is a drop-down image in the tab*/
/***********************************************************/

/*** T R E E ***/ /*needs review - need additional tree visuals from Jason*/
ul.lotusTree, ul.portlet-tree{margin:0;padding:0;list-style-type:none;line-height:1.5em;}
#lotusColRight ul.lotusTree{margin-left:-10px}
.lotusTree ul, .portlet-tree ul{margin:0 0 0 14px;padding:0;list-style-type:none;}
.lotusTree li, .portlet-tree li{margin:0;padding:0;}
.lotusTree a, .portlet-tree a{text-decoration:none;}
.lotusTree a:hover, .lotusTree a:focus, .portlet-tree a:hover, .portlet-tree a:focus{text-decoration:underline}
.lotusTree .lotusIcon{margin-right:3px}
.lotusTree input{margin:0 4px 0 2px;padding:0}
/*this is a specific type of tree*/
.lotusOrgChart ul{margin-left:11px}
.lotusOrgChart li{padding:2px 0}
.lotusOrgChart li a{margin:0;padding:0 0 5px 20px;background-position:left top;background-repeat:no-repeat;}
.lotusOrgChart .lotusBottom{padding:2px 0 5px 20px;background-position:left 5px;background-repeat:no-repeat;}
.lotusOrgChartTop, .lotusOrgChartMiddle, .lotusOrgChartBottom{padding-left:20px;background-position:left center;background-repeat:no-repeat;}
/***********************************************************/

/*** V C A R D (P E R S O N   C A R D)***/
/*this is the popup person card that shows up when you click on a person link (via a hover link)*/
.lotusVCard{display:table;position:absolute;top:0;left:-9999px;width:400px;margin:4px 0 0 4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.lotusVCard .lotusContainer{display:table;width:400px;position:relative;top:-4px;left:-4px;border-width:1px;border-style:solid;}
/*lotusAppLinks are the application links at the top of the card*/
.lotusVCard .lotusAppLinks td{background-position:left center;background-repeat:repeat-x;border-width:0 0 1px 1px;border-style:solid;text-align:center}
.lotusVCard .lotusAppLinks td.lotusFirst{border-left-width:0}
.lotusVCard .lotusAppLinks a{display:block;padding:3px 9px;}
/*the more arrow, for when there is a second row of application links*/
.lotusVCard .lotusMore{width:16px;margin-right:10px;background-position:right center;background-repeat:no-repeat;}
.lotusVCard .lotusMore:hover, .lotusVCard .lotusMore:focus{text-decoration:none}
/*lotusPersonDetails is the detail area of the card that contains all info for the person*/
.lotusVCard .lotusDetails{padding:10px;border-top-width:1px;border-top-style:solid;}
.lotusVCard .lotusPhoto{padding:3px;border-width:1px;border-style:solid;float:left}
.lotusVCard .lotusPersonInfo{margin-left:86px}
/*lotusPersonActions are actions you can perform on this person, from the person card*/
.lotusVCard .lotusPersonActions{padding:5px;border-top-width:1px;border-top-style:solid}
/*action menu within person card*/
.lotusVCard .lotusActionMenu{position:static;left:auto;top:auto;border-width:0;display:none;width:auto;margin-top:-10px}
.lotusVCard .lotusComment{clear:both}
/*adjustments for an inline version of the card*/
.lotusInlineVCard{position:static;left:auto;margin:0 0 10px 0}
.lotusInlineVCard, .lotusInlineVCard .lotusContainer{width:175px;position:static;top:auto;left:auto}
.lotusInlineVCard .lotusPhoto{padding:0;border-width:0;margin-top:5px}
.lotusInlineVCard .lotusPersonInfo{margin-left:60px;margin-top:12px}
.lotusInlineVCard .lotusEmail{clear:both;border-width:1px 0;border-style:solid;padding:5px 10px}
.lotusInlineVCard .lotusAppLinks{list-style-type:none;margin:0;padding:0}
.lotusPivotNav{float:left;padding:2px 5px 1px 2px}
.lotusPivotNavToggle{margin:0 5px 0 0;padding:0;float:left;height:45px;width:10px;}
.lotusPivotNavToggle a{display:block;height:45px;background-position:3px center;background-repeat:no-repeat;text-decoration:none;}
.lotusPivotNavToggle a:hover, .lotusPivotNavToggle a:focus, .lotusPivotNavToggle a:active{text-decoration:none;}
.lotusPivotNavOpen .lotusPivotNavToggle a{background-position:left center}
.lotusInlineVCardDetails{display:none}
/***********************************************************/

/*** V C A R D   H O V E R ***/
/*this is the hover link that shows when you hover over a person's name and allows you to open their profile card*/
.lotusVCardHover{padding:5px 5px 5px 25px;position:absolute;top:0;left:-9999px;border-width:1px;border-style:solid;-moz-border-radius:2px;-webkit-border-radius:2px;background-position:5px center;background-repeat:no-repeat;white-space:nowrap}
.lotusVCardHover:hover, .lotusVCardHover:focus{text-decoration:none}
/***********************************************************/

/*** S P E C I A L   S C R E E N S ***/
/*about*/
.lotusAbout #lotusContent h1, .lotusAbout .lotusContent h1{margin:0;padding:0;font-size:3em;font-weight:normal;line-height:normal;}
.lotusAbout #lotusContent h2, .lotusAbout .lotusContent h2{margin:15px 0 10px 0;padding:0;font-size:1.5em;font-weight:normal;line-height:1em;}
.lotusAbout #lotusContent h3, .lotusAbout .lotusContent h3{margin:3px 0 15px;font-size:1.5em;font-weight:normal;}
.lotusAboutBox{padding-right:25px;padding-bottom:15px;position:relative;background-position:left top;background-repeat:repeat-x;overflow:hidden;}
.lotusAboutBox img{position:absolute;left:30px;top:22px;}
.lotusAboutText{margin:22px 20px 20px 225px;}
.lotusAbout p{margin:5px 0}
.lotusAbout #lotusColRight, .lotusAbout .lotusColRight{font-size:1.0em}
/*section adjustments for the right column*/
#lotusColRight .lotusSection .lotusInfoBox h2, #lotusColRight .lotusSection .lotusInfoBox  h3, 
.lotusColRight .lotusSection .lotusInfoBox h2, .lotusColRight .lotusSection .lotusInfoBox h3{padding:0px 5px}

/*error*/
.lotusErrorBox{width:619px;margin:20px auto;padding:0;border-width:1px;border-style:solid;-moz-border-radius:4px;-webkit-border-radius:4px;}
.lotusErrorContent{position:relative;padding:20px}
.lotusErrorContent img{position:absolute;top:20px;left:30px}
.lotusErrorForm{margin:0px 0 0 85px;}
.lotusError h1{margin:0 0 10px 0;padding:0;font-size:2.3em;font-weight:normal;}
.lotusErrorForm .lotusBtnContainer{margin-top:15px}
.lotusErrorForm .lotusBtn{margin-right:15px;text-align:center;}
.lotusErrorForm .lotusBtnContainer .lotusAction{display:block;padding-top:3px}
.lotusErrorForm div{width:auto;clear:none;margin:0;padding:0;}

/*login*/
/*this can appear on a plain connections page (gradient background only), or launched in a separate window*/
.lotusLoginBox{width:619px;margin:20px auto;padding:0;background-position:left top;background-repeat:no-repeat;border-width:1px;border-style:solid}
.lotusLoginContent{position:relative;padding:20px}
.lotusLoginContent img{position:absolute;top:130px;left:43px}
.lotusLoginContent img.lotusIcon{position:static;padding-bottom:1px}
.lotusLoginForm{margin:100px 0 0 220px;}
.lotusLogin h1{margin:0px;padding:0;font-size:2.3em;font-weight:normal;}
.lotusLogin h2{margin:5px 0 15px 0;font-size:1.4em;font-weight:normal;line-height:1.3em;}
.lotusLoginForm input{margin-bottom:5px;}
.lotusLoginForm .lotusText{width:15em}
.lotusLoginForm .lotusBtnContainer{margin-top:10px}
.lotusLoginForm .lotusBtn{margin-right:15px;font-size:inherit}
.lotusLoginForm .lotusBtnContainer .lotusAction{display:block;padding-top:3px}
.lotusLoginForm div{width:auto;clear:none;margin:0;padding:0;}
.lotusLoginForm label{margin-left:0;padding-top:0;display:block;float:none;text-align:left;font-weight:normal;}
.lotusDescription{margin-top:30px;clear:left;}
.lotusDescription h2{margin-bottom:3px;}

/*IBM logo and legal statement*/
/*3 different versions - regular pages, login page, and about page*/
/*the new format uses a table.  The div styles are legacy styles*/
div.lotusLegal{margin:15px 25px 10px 25px;min-height:37px}
div.lotusLegal .lotusLicense{background-position:left center;background-repeat:no-repeat;margin-bottom:10px;min-height:37px}
.lotusLegal{font-size:0.8em;line-height:1.2em}
div.lotusLegal p{margin:0;padding:0 0 0 110px;}
table.lotusLegal{margin:5px 25px 10px 25px;}
table.lotusLegal td{vertical-align:middle;padding:5px;}
.lotusLogin div.lotusLegal .lotusLicense{background-position:left top}
.lotusLogin .lotusLegal{margin-left:10px}
.lotusLogin table.lotusLegal, .lotusAbout table.lotusLegal{margin-top:15px}

/*metrics*/
.lotusMetrics #lotusContent{margin-right:30%}
.lotusMetrics dt{margin-top:20px}

/*tools*/
/* Dogear this button */
a.lotusBookmarkButton{padding:7px 15px 5px 15px !important;display:block;width:185px !important;text-decoration:none;cursor:pointer;font-size:1.4em !important;background-position:bottom left;background-repeat:no-repeat}
.lotusToolBMText{margin-left:10px;margin-top:5px;font-weight:bold; font-size:1.2em; line-height:1.0em; overflow:hidden;}
.lotusToolBMImage{margin-top:5px;float:left;width:120px;background-position:top left;background-repeat:no-repeat}
/**  Dogear this button Firefox **/
a.lotusFFBookmarkButton{margin:10px 0 20px 30px;padding:2px;float:left; text-decoration:none;cursor:pointer;font-size:1.1em;border-width:1px;border-style:solid;-moz-border-radius:3px;-webkit-border-radius:3px;}
a.lotusFFBookmarkButton:hover{text-decoration:underline;}
a.lotusFFBookmarkButton img{margin-top:-5px;}
.lotusFFToolBMImage{margin:-5px 0 0 10px;float: left !important;}
.lotusFFToolBMText{margin-left:10px;margin-top:5px;font-weight:bold;font-size:1.2em;line-height:1.0em; float:left;}
.lotusToolHeader{clear:both; font-weight:normal; font-size:1.5em;padding-top:5px;}
.lotusToolHeaderStep {display:inline-block;padding:2px 5px 1px 5px;}
.lotusToolInfo {margin:10px 0;}
.lotusToolTip{clear:both;font-weight:normal;/*margin:55px 0 3px 0;*/}

/*welcome*/
.lotusWelcome #lotusContent .lotusSection{margin-left:20px}
.lotusWelcome .lotusForm{margin:15px 0}
.lotusWelcome input.lotusBtnSpecial{padding:1px 2px;background-position:center left;background-repeat:repeat-x;border-width:1px;border-style:solid;font-size:.9em;font-weight:bold}
.lotusWelcome input.lotusCheckbox{margin:0}/*use for radio buttons, too*/
.lotusWelcome #lotusContent input.lotusText, .lotusWelcome .lotusContent input.lotusText{width:225px}/*don't want global search box to stretch!*/
.lotusWelcomeBox{padding:20px;position:relative;background-position:left top;background-repeat:repeat-x;overflow:hidden;}
.lotusWelcomeBox h2{margin:0 180px 10px 0;font-size:2.4em;font-weight:normal;line-height:1em;}
.lotusWelcomeBox .lotusBtnContainer{margin:15px 0}
.lotusWelcomeBox .lotusBtnContainer .lotusBtn{float:left;}
.lotusWelcomeBox p, .lotusWelcomeBox ul{margin-right:170px}
.lotusWelcomeBox ul{padding-left:2em;list-style-position:outside;}
.lotusWelcomeBox img{position:absolute;top:16px;right:50px;}
.lotusWelcomeBox .lotusClose{position:absolute;top:10px;right:5px;border-width:1px;border-style:solid}
.lotusWelcomeBox .lotusClose img{position:static}
/***********************************************************/

/***added by Chris S for dashboard 10/18/07, this is still being worked on***/
.lotusDashboard #lotusMain{background-position:top right;background-repeat:repeat-y}
.lotusDashboard #lotusColRight{width:160px;}
.lotusDashboard #lotusColRight h2{text-transform:uppercase;font-size:.9em}
#lotusContent .lotusColOne, #lotusContent .lotusColTwo, 
.lotusContent .lotusColOne, .lotusContent .lotusColTwo{width:50%;float:left;}

.lotusWidget{border-width:2px;border-style:solid;margin:0 10px 10px 5px;}
.lotusWidget h2{padding:3px 5px;overflow:hidden;cursor:move}
.lotusWidget h2 img{margin:3px}
.lotusWidget h2 .lotusDivider{float:right}
.lotusWidget h3{padding:3px 0px 3px 5px;overflow:hidden;border-bottom:1px solid;}
.lotusWidgetBody{clear:both;padding:3px}
.lotusWidgetBody .lotusSection {margin-top:0px;}
.lotusWidgetButtons{margin:5px;padding:0;list-style-type:none}
.lotusWidgetButtons li{background-position:bottom left;background-repeat:repeat-x;border-width:1px;border-style:solid;padding:3px 0 0 0;margin:1px 0}
.lotusWidgetButtons div{padding:0 5px 5px 40px;background-position:5px 0;background-repeat:no-repeat;display:block;text-decoration:none;cursor:move;line-height:1em}
.lotusWidgetButtons .lotusTitle{font-size:1.2em;line-height:1.2em;display:block;font-weight:bold;}
.lotusWidgetFooter{margin:0 3px 0 10px;}
.lotusWidgetFooter ul.lotusVCard {margin-left:95px;}
.lotusWidgetFooter img{vertical-align:top}
.lotusWidgetSearch{padding:5px 10px 0 10px}
.lotusWidgetSearch img {padding-right:10px}

/*for lightbox*/
.lotusOverlay{display:none;position:absolute;top:0;left:0;width:100%;background-color:black;-moz-opacity:0.3;opacity:.30;filter: alpha(opacity=30);}

/************D O J O   S T Y L E S**********************************/
/*these override/add to the styles in dijit.css*/

/*calendar/date picker*/
.dijitCalendarContainer{border-collapse:collapse;border-width:1px;border-style:solid;width:160px;font-size:1em}
.dijitCalendarContainer thead tr th{text-align:center;padding:1px}
.dijitCalendarContainer tbody tr td{border-width:0;width:12%;}
.dijitCalendarMonth{font-weight:bold;text-align:center}
.dijitCalendarMonthLabel, .dijitCalendarPreviousMonth, .dijitCalendarCurrentMonth, .dijitCalendarNextMonth, .dijitCalendarYearLabel{text-align:center;}
.dijitCalendarSelectedDate .dijitCalendarDateLabel{font-weight:bold;}
.dijitCalendarBodyContainer .dayFlagPersonalTask,
.dijitCalendarBodyContainer .dayFlagTeamTask,
.dijitCalendarBodyContainer .dayFlagOverdueTask,
.dijitCalendarBodyContainer .dayFlagTodayTask{border-bottom-width:1px;border-bottom-style:solid;border-right-width:1px;border-right-style:solid;cursor:pointer;cursor:hand;}
.dijitCalendarYearLabel .dijitCalendarPreviousYear, 
.dijitCalendarYearLabel .dijitCalendarSelectedYear,
.dijitCalendarYearLabel .dijitCalendarNextYear{margin-right:4px;margin-left:4px;}
.dijitCalendarYearLabel .dijitCalendarSelectedYear{cursor:default;}
.dijitCalendarIncrementControl{width:15px;height:15px;font-size:16px;margin:0 3px;}
.dijitCalendarIncrease, .dijitCalendarDecrease{cursor:pointer;cursor:hand;display:inline;}
.dijitCalendarIncrease{padding-right:16px;background-repeat:no-repeat;background-position:right 3px;}
.dijitCalendarDecrease{padding-left:16px;background-repeat:no-repeat;background-position:left 3px;}
.dijitCalendarIncrease .dijitCalendarIncreaseInner, .dijitCalendarDecrease .dijitCalendarDecreaseInner{display:none;}
.dijitCalendarYearContainer h3.dijitCalendarYearLabel{margin-bottom:0;}
.dijit_a11y .dijitCalendarIncrease, .dijit_a11y .dijitCalendarDecrease{border-width:1px;border-style:solid}/*for an outline, when images are turned off*/

/* Dialog */
/*see dialog component for additional classes. The dojo dialog is just used as a wrapper for our lotusDialog, which can be used independently of dojo*/
.dijitContentPane{overflow:visible}

/* Rich Text Editor*/
.dijitIEFixedToolbar{position:absolute;top: expression(eval((document.documentElement||document.body).scrollTop));}
.dijitEditorIcon{background-repeat:no-repeat;width:18px;height:18px;text-align:center;}
.RichTextEditable .dijitButton,
.RichTextEditable .dijitDropDownButton,
.RichTextEditable .dijitComboButton{margin:0;}
.RichTextEditable .dijitButtonNode{border:0;margin:0;padding:.1em;line-height:normal;cursor:pointer;cursor:hand;vertical-align:middle;text-align:center;white-space:nowrap;}
.RichTextEditable .dijitToolbar{background-position:left center;background-repeat:repeat-x;border-bottom-width:1px;border-bottom-style:solid}
.RichTextEditable{border-width:1px;border-style:solid}
.RichTextEditable .dijitButtonNode .dijitArrowButtonInner{width:10px;}
/*tooltip*/
.dijitTooltipContainer{border-width:1px;border-style:solid;background-position:left top;background-repeat:repeat-x;}
/*slider*/
.dijitSliderImageHandle{border:0;background-position:left bottom;background-repeat:no-repeat;width:10px;height:11px;}
.dijitSliderImageHandleH{top:-3px;}
.dijitSliderBar{border-style:none;}
.dijitSliderBumperH{width:2px;}
.dijitSlider .dijitButtonNode{display:none;}
/*disabled elements*/
.dijitSliderDisabled *, .dijitDisabledClickableRegion, .dijitSpinnerDisabled *, .dijitButtonDisabled *, .dijitDropDownButtonDisabled *, .dijitComboButtonDisabled *, .dijitComboBoxDisabled * {
cursor:not-allowed !important;
}
.dijitPopup ul.dijitMenu{margin:0}/*fixes alignment of typeahead*/
