/*Sean Cull  FOCDOCWIKI-4 */
.lotusui30 .lotusBanner ul.lotusUtility li a {
  padding: 5px 16px;
}

.lotusui30 .lotusBanner {
  height: 50px;
}
  .lotusui30 .lotusFooter {
  /*visibility: hidden;*/
}
 
 .lotusui30dojo p {
  font-size: 100%;
  line-height: 2;
}
.lotusui30 .lotusPortlet {
  padding-top: 0px;
}

.lotusui30_layout .lotusMain .lotusContent {
   padding: 0 0 5px !important;
}