/* Copyright IBM Corp. 2001, 2008 */
/* CSS Document */ /*version 1.08 7/17/08*/
body{color:#222;background-color:#fbfcfd;background-image:url(images/background.png)}
#lotusContent, .lotusContent{background-color:#fff;}
#lotusMain, #lotusFooter, .lotusMain, .lotusFooter{background-color:#fff;border-color:#cfcfcf;}
#lotusMain, .lotusMain{border-top-color:#568dd0;background-image:url(images/sidebar.gif)}
#lotusFooter th, .lotusFooter th{color:#666}
#lotusFooter th, #lotusFooter td, .lotusFooter th, .lotusFooter td{border-color:#e0e0e0}

h1, h2, .lotusWidget h3{color:#444}
#lotusColRight h2, .lotusColRight h2{background-color:#eee !important/*temp fix for dojo*/}

dt{background-color:#eee;font-weight:bold}/*used in metrics screen*/

/*general styles*/
.lotusRequired{color:#efa229}
.lotusMeta{color:#666}
.lotusHighlighted{color:#f00}/*red*/

/*general list styles*/
.lotusInlinelist li{border-color:#ccc;}
#lotusColLeft .lotusInlinelist li, .lotusPaging .lotusInlinelist li, .lotusColLeft .lotusInlinelist li,{border-color:#8d8d8d;}

/*** L I N K S ***/
a:link, a:visited{color:#105cb6}
a:hover, a:focus, a:active{color:#05386b;}
a.lotusPerson, a.lotusPerson:visited{color:#578cca;}/*person links pop up a related menu*/
.lotusTags a:link, .lotusTags a:visited, a.lotusTag:link, a.lotusTag:visited{color:#578cca;}/*tag*/
.lotusRelatedTags a{background-image:url(images/iconRelatedTag.gif)}
/*my links indicate bookmarks you have created - add this onto people and tag class links*/
a.lotusMyLink, a.lotusMyLink:visited, .lotusMyLinks a, .lotusMyLinks a:visited{color:#44a244 !important}
a.lotusDelete{background-image:url(images/iconDelete.gif);}
/*link hover styles*/
.lotusTags a:hover, .lotusTags a:focus, .lotusTags a:active, a.lotusTag:hover, a.lotusTag:focus, a.lotusTag:active, a.lotusPerson:hover, a.lotusPerson:focus, a.lotusPerson:active{border-bottom-color:#05386b;color:#05386b;}
a.lotusMyLink:hover, a.lotusMyLink:focus, .lotusMyLinks a:hover, .lotusMyLinks a:focus {color:#05386b !important;border-bottom-color:#05386b;}
/*single and group action links*/
/*this is to provide a class for overriding link colors in groups of links to indicate that the link is an action link (like the "Tag this" link in a tag group*/
a.lotusAction, a.lotusAction:visited{color:#105cb6 !important;}
a.lotusAction:hover, a.lotusAction:focus, a.lotusAction:active, .lotusActions a:hover, .lotusActions a:focus, .lotusActions a:active, .lotusTags a.lotusAction:hover, .lotusTags a.lotusAction:focus, .lotusTags a.lotusAction:active{color:#05386b !important;}
/*to assign an icon to an action link, you need to assign a unique id to the link and give it a background image.  The rest of the code is in this css declaration*/
.lotusActions a, .lotusActions a:visited{color:#105cb6;}
a.lotusDropDown, a.lotusDropDown:visited, a.lotusDropDown:active{background-color:transparent;background-image: url(images/twistyOpen.gif)}
a.lotusDelete:hover, a.lotusDelete:active{background-image:url(images/iconDeleteHover.gif);}

/*** C S S   S P R I T E S ***/
/*these definitions include background positioning properties*/
/*arrows, for dropdowns and twisties*/
/*coordinates are x,y coordinates of the image placement within the larger image (with minus sign in front)*/
.dijit_a11y .lotusSprite{border-color:#999}/*to give an outline of the sprite when images are turned off*/
.lotusArrow{background-image:url(images/arrows.gif);}
.lotusTwistyOpen{background-position:0 0}
.lotusDraggableSection .lotusTwistyOpen{background-position:-52px 0}
.lotusTwistyOpen:hover, .lotusTwistyOpen:focus{background-position:-13px 0}
.lotusTwistyClosed{background-position:-26px 0}
.lotusDraggableSection .lotusTwistyClosed{background-position:-65px 0}
.lotusTwistyClosed:hover, .lotusTwistyClosed:focus{background-position:-39px 0}
/*dropdown arrows*/
.lotusDropDownActionSprite{background-position:-57px -14px}
.lotusDropDownSprite{background-position:-71px -15px}
/*status section - this is legacy code*/
.lotusStatus .lotusTwistyOpen{background-position:0 -34px}
.lotusStatus .lotusTwistyOpen:hover, .lotusStatus .lotusTwistyOpen:focus{background-position:-11px -34px}
.lotusStatus .lotusTwistyClosed{background-position:-22px -34px}
.lotusStatus .lotusTwistyClosed:hover, .lotusStatus .lotusTwistyClosed:focus{background-position:-33px -34px}


/*left column and menu arrows are a little smaller*/
#lotusColLeft .lotusTwistyOpen, .lotusColLeft .lotusTwistyOpen{background-position:0 -18px}
#lotusColLeft .lotusTwistyOpen:hover, #lotusColLeft .lotusTwistyOpen:focus, 
.lotusColLeft .lotusTwistyOpen:hover, .lotusColLeft .lotusTwistyOpen:focus{background-position:-11px -18px}
#lotusColLeft .lotusTwistyClosed, 
.lotusColLeft .lotusTwistyClosed{background-position:-22px -18px}
#lotusColLeft .lotusTwistyClosed:hover, #lotusColLeft .lotusTwistyClosed:focus, 
.lotusColLeft .lotusTwistyClosed:hover, .lotusColLeft .lotusTwistyClosed:focus{background-position:-33px -18px}
.lotusTwistyOpenMenu{background-position:-11px -34px}
.lotusTwistyOpenMenu:hover, .lotusTwistyOpenMenu:focus{background-position:-11px -34px}
.lotusTwistyClosedMenu{background-position:-22px -34px}
.lotusTwistyClosedMenu:hover, .lotusTwistyClosedMenu:focus{background-position:-33px -34px}
/*view controls*/
.lotusViewControl div{background-color:#fff;background-image:url(images/btnBkgd.png);border-color:#c0c7cd}
.lotusView{background-image:url(images/views.gif);}
.lotusDetailsOff {background-position:-2px -52px}
.lotusDetailsOff:hover, lotusDetailsOff:focus{background-position:-27px -52px}
.lotusDetailsOn {background-position:-52px -52px}

.lotusSummaryOff {background-position:-2px -77px}
.lotusSummaryOff:hover, .lotusSummaryOff:focus {background-position:-27px -77px}
.lotusSummaryOn {background-position:-52px -77px}
.lotusSummaryOn:hover, .lotusSummaryOn:focus {background-position:-52px -77px}
.lotusTreeOff {background-position: -2px -2px;}
.lotusTreeOff:hover, .lotusTreeOff:focus {background-position: -27px -2px;}
.lotusTreeOn {background-position: -52px -2px;}
.lotusTileOff {background-position: -2px -27px;}
.lotusTileOff:hover, .lotusTileOff:hover {background-position: -27px -27px;}
.lotusTileOn {background-position: -52px -27px;}
.lotusFolderOff {background-position: -2px -102px;}
.lotusFolderOff:hover, .lotusTileOff:hover {background-position: -27px -102px;}
.lotusFolderOn {background-position: -52px -102px;}
/***********************************************************/

/*** A C T I O N   M E N U ***/
ul.lotusActionMenu{background-color:#fff;border-color:#649de1;background-image:url(images/actionMenuBkgd.gif)}
.lotusActionMenu li{background-color:transparent}
.lotusActionMenu li.lotusSelected a{background-image:url(images/checkmark.gif);}
.lotusActionMenu li.lotusMenuSeparator{border-top-color:#b3cae9 !important}
.lotusActionMenu a, .lotusActionMenu a:visited{color:#000;}
.lotusActionMenu a:hover{color:#000;background-color:#cfecff;}
/*any specific icon menu items (you will need to define them separately for the dojo menu*/
.lotusSendMail a{background-image:url(images/iconSendMail.gif)}
/*additional styles for dijit drop-down menus (sit on top of dijit.css)*/
.dijitMenu{border-color:#649de1 !important;/*need !important because dijitReset comes after dijitMenu in the list of classes*/}
.dijitMenuTable{background-image:url(images/actionMenuBkgd.gif);}
.dijitMenuItemHover{background-color:#cfecff;color:#000;}
.dijitMenuSeparatorTop{border-bottom-color:#b3cae9;}
/*menu icon classes*/
.dijitMenu .lotusCheckmark{background-image:url(images/checkmark.gif);}
.dijitMenu .lotusSendMail{background-image:url(images/iconSendMail.gif)}
/*type ahead styles*/
ul.dijitMenu{border-color:#999 !important}
li.dijitMenuItemHover{background-color:#fefebb}
/***********************************************************/

/*** B A N N E R ***/
#lotusBanner, .lotusBanner{background-color:transparent;}
#lotusBanner ul li, .lotusBanner ul li{color:#000;background-color:transparent;border-color:#639ade}
#lotusBanner ul li.lotusFirst, .lotusBanner ul li.lotusFirst{background-image:none}
#lotusBanner ul.lotusLinks li a, .lotusBanner ul.lotusLinks li a{color:#000}
#lotusBanner ul.lotusLinks li.lotusSelected a, .lotusBanner ul.lotusLinks li.lotusSelected a{color:#fff !important;background-color:#649de1}
/***********************************************************/

/*** B R E A D C R U M B S ***/
.lotusBreadcrumbs .lotusDivider{background-image:url(images/bcDropDown.gif)}
.lotusBreadcrumbs .lotusDivider:hover, .lotusBreadcrumbs .lotusDivider:focus, .lotusBreadcrumbs .lotusDivider:active{background-image:url(images/bcDropDownHover.gif);}
/***********************************************************/

/*** B U T T O N S ***/
/*graphic button, set width*/
.lotusButton{border-color:#86b75e}
.lotusButton a, .lotusButton a:visited{color:#fff;background-color:#9ce181;border-color:#9cda43;background-image:url(images/buttonBkgd.png);}
span.lotusBtn{border-color:#c0c7cd;}/*default button outside border*/

span.lotusBtn a, span.lotusBtn a:visited{color:#0084ff;background-color:#fff;border-color:#fefefe;background-image:url(images/btnBkgd.png);}/*default inside border, background color and image*/
span.lotusBtnAction{border-color:#86b75e}
span.lotusBtnAction a, span.lotusBtnAction a:visited{color:#fff;background-color:#9ce181 !important/*temp fix for dojo*/;border-color:#9cda43;background-image:url(images/btnActionBkgd.png);}
input.lotusBtn{color:#fff;background-color:#9ce181;border-color:#9cda43;background-image:url(images/btnBkgd.png);}/*only an outside border on an input button*/
span.lotusBtnSpecial{border-color:#2f76b9}
span.lotusBtnSpecial a, span.lotusBtnSpecial a:visited{color:#fff;background-color:#2c86eb;border-color:#6cacf1;background-image:url(images/btnSpecialBkgd.png);}
input.lotusBtnSpecial{color:#fff !important;background-color:#2c86eb;border-color:#2f76b9;background-image:url(images/btnSpecialBkgd.png);}
span.lotusBtnDisabled{border-color:#b9b9b9}
span.lotusBtnDisabled a, span.lotusBtnDisabled a:visited{color:#f3f3f3 !important;background-color:#ccc;border-color:#ededed;background-image:url(images/btnDisabledBkgd.gif);}
input.lotusBtnDisabled{color:#f3f3f3 !important;background-color:#ededed;border-color:#b9b9b9;background-image:url(images/btnDisabledBkgd.gif);}
.lotusButton:hover, .lotusButton:focus, .lotusBtnAction:hover, .lotusBtnAction:focus{border-color:#385e19}
.lotusBtn:hover, .lotusBtn:focus, .lotusBtn:active{border-color:#8e8e8e;}/*default hover color*/
.lotusBtnSpecial:hover, .lotusBtnSpecial:focus, .lotusBtnSpecial:active{border-color:#10395f}
.lotusBtnDisabled:hover, .lotusBtnDisabled:focus, .lotusBtnDisabled:active{border-color:#b9b9b9}/*border shouldn't change on hover for the disabled version*/
.lotusBtnDivider{border-color:#e0e0e0}
/*not implemented in the prototype yet.  These is the class for iconAdd.gif*/
.lotusAdd{border-color:#2f76b9}
.lotusAdd:hover, .lotusAdd:focus, .lotusAdd:active{border-color:#10395f}
/*for ie, which changes button text on focus*/
span.lotusBtn a:active{color:#0084ff !important}
.lotusButton a:active, span.lotusBtnAction a:active, span.lotusBtnSpecial a:active{color:#fff !important}

/*** C A P T I O N ***/
.lotusCaption{background-color:#f3f3f3;}
/***********************************************************/

/*** C O M M E N T ***/
.lotusCommentHeader{background-image:url(images/commentPoint.gif);}
.lotusCommentBody{background-color:#e6f1ff;border-color:#c4d8f2;}
.lotusCommentOwner .lotusCommentHeader{background-image:url(images/commentPointOwner.gif);}
.lotusCommentOwner .lotusCommentBody{background-color:#fff;border-color:#c4d8f2;}
.lotusCommentMy .lotusCommentHeader{background-image:url(images/commentPointMy.gif);}
.lotusCommentMy .lotusCommentBody{background-color:#edfee1;border-color:#c3e5ab;}
/*lotusDiscussion is for discussion forums, which treat comments differently*/
.lotusDiscussion .lotusComment{border-color:#e7e8ea;}
.lotusDiscussion .lotusCommentHeader{background-image:url(images/commentBkgd.png)}
.lotusDiscussion .lotusCommentBody{background-color:#fff !important;}
.lotusDiscussion .lotusCommentOwner .lotusCommentHeader{background-image:url(images/commentBkgdOwner.png)}
.lotusDiscussion .lotusCommentMy .lotusCommentHeader{background-image:url(images/commentBkgdMy.png)}
.lotusDiscussion .lotusCommentDeleted{background-image:none}/*this needs to go as an additional class on the lotusHeader div to keep it from cascading to any child comments*/
.lotusDiscussion .lotusKey{color:#666}
/*lotusComments in the person card contains status information for the person*/
.lotusPersonDetails .lotusCommentHeader{background-image:url(images/commentPointPersonCard.gif);}
.lotusPersonDetails .lotusCommentBody{color:#666;background-color:#fff;border-color:#a0acba;}
/***********************************************************/

/*** C O P Y R I G H T **/
div.lotusLegal .lotusLicense{background-image: url(images/ibmLogo.gif);}
.lotusLegal .lotusLicense{color:#666;}
.lotusLegal .lotusBuild{color:#000}
/***********************************************************/

/*** D I A L O G ***/
.lotusDialogBorder{border-color:#aaa;}
.lotusDialog{background-color:#fff;}
.lotusDialog h1{border-bottom-color:#d1dfef;background-image:url(images/lightboxHeaderBkgd.gif)}
.lotusDialog .lotusDialogContent{border-bottom-color:#d1dfef;}
.lotusDialog .lotusDialogFooter{background-color:#e2ebf1;}
.lotusDialog .lotusFormTable,
.lotusDialog .lotusFormTable td{background-color:#fff;}
.lotusDialog .lotusClose{border-color:#2f76b9}
.lotusDialog .lotusClose:hover, .lotusDialog .lotusClose:focus{border-color:#10395f}
/***********************************************************/

/*** F E E D S **/
/*the feed links under the content*/
.lotusFeeds a.lotusFeed{background-image:url(images/IconFeed.gif)}
/***********************************************************/
/*** F O R M S ***/
.lotusFormTable, .lotusFormTable td{background-color:#F0F4F7}
.lotusFormError, .lotusFormRequired {color:#FF0000;}
.lotusFormErrorField, .lotusFormErrorSummary td {background-color:#fffabc;}
/* button elements */
.lotusFormTable .lotusFormFooter {background-color:#E2EBF1;}
input.lotusFormButton{color:#fff !important;background-color:#2c86eb !important/*temp fix for dojo*/;border-color:#2f76b9;background-image:url(images/btnSpecialBkgd.png);background-position:left center;background-repeat:repeat-x}
input.lotusBtnDisabled{color:#f3f3f3 !important;background-color:#ccc !important/*temp fix for dojo*/;border-color:#b9b9b9;background-image:url(images/btnDisabledBkgd.gif);}/*assign this as an additional class to lotusFormButton*/
input.lotusFormButton:hover, input.lotusFormButton:focus{border-color:#10395f}
input.lotusBtnDisabled:hover, input.lotusBtnDisabled:focus{border-color:#b9b9b9}
/*** H E A D E R ***/
.lotusHeader .lotusDetails p{color:#666}
.lotusFilters a.lotusFilter{background-color:#f4f7fc;border-color:#c4d8f2}
.lotusFilters a .lotusClose{color:#c4d8f2}
.lotusFilters a:hover .lotusClose{color:#9eaac5}

/*** I N F O   B O X ***/ /*this is used for help and tips*/
.lotusInfoBox, .portlet-msg{background-color:#fef6ab;border-color:#e2c15a;}
.lotusInfoBox h3, .portlet-msg h3{color:#b47429;}
.lotusInfoBox h3 img, .portlet-msg h3 img{border-color:#d79846}
.lotusInfoBox h3 img:hover, .portlet-msg h3 img:hover, .lotusInfoBox h3 img:focus, .portlet-msg h3 img:focus{border-color:#b8711c}
.lotusHelp{background-color:#e0e0e0}
.lotusHelp .lotusInfoBox{border-color:#c5c5c5;background-color:#fff;background-image:url(images/helpBkgd.png)}
.lotusHelp h3{color:#222}
/***********************************************************/

/*** L I S T S ***/ /*use in conjuction with sections if you want a more complex list*/
ul.lotusList li.lotusSelected{background-color:#cfecff}
ul.lotusList li.lotusSelected a{color:#000;}
.lotusList a, ul.lotusList li.lotusSelected a{border-color:transparent}
/*delete icon for editable list*/
ul.lotusEditable a.lotusDelete:hover{border-bottom-color:transparent}
/*IE 6 hack. Need to use tag and person classes here and accommodate gray and white backgrounds*/
*html .lotusList a{border-bottom-color:#f1f5fa}
*html ul.lotusList li.lotusSelected a{border-bottom-color:#cfecff}
*html ul.lotusEditable a.lotusDelete:hover{border-bottom-color:#f1f5fa}
/***********************************************************/

/*** M E N U ***/
.lotusMenu, .portlet-menu{background-color:#eefee1;background-image:url(images/menuTop.gif);}
.lotusMenu .lotusBottomCorner{background-image:url(images/menuBottom.gif);}
.lotusMenu .lotusInner{background-image:url(images/menuMiddle.gif);}
.lotusMenu .lotusMenuSection{border-bottom-color:#73be59;}
.lotusMenu h3{color:#4f9815}
.lotusMenu h3.selected, .portlet-menu h3.selected{color:#fff;background-color:#73be59;border-color:#73be59;}
.lotusMenu li.lotusSelected a, .lotusMenu li.lotusSelected a:visited, .lotusMenu li.lotusSelected a:active, .portlet-menu li.lotusSelected a, .portlet-menu li.lotusSelected a:visited, .portlet-menu li.lotusSelected a:active{color:#fff !important;background-color:#73be59 !important/*temp fix for dojo*/;border-color:#73be59;}
/***********************************************************/

/*** M E S S A G E S ***/
.lotusMessage{background-color:#fcc;border-color:#c66;}/*error message*/
.lotusWarning{background-color:#ffffbc;border-color:#f7c455;}/*use iconWarning.gif*/
.lotusInfo{background-color:#d8eaff;border-color:#6295d6;}/*use iconInfo.gif*/
.lotusConfirm{background-color:#dcfcc4;border-color:#80d047;}/*use iconConfirmation.gif*/
/***********************************************************/

/*** P A G I N G ***/
.lotusPaging{color:#848484;background-color:#f3f3f3 !important/*temp fix for dojo*/;}
.lotusPaging ul li, .lotusPaging div{color:#848484;}
.lotusPaging input{color:#848484;}

/*** P L A C E   B A R ***/
#lotusPlaceBar, .lotusPlaceBar{border-color:#c0c7cd;background-image:url(images/placeBar.png);}
#lotusPlaceBar h2, .lotusPlaceBar h2{color:#000;}

/*** S E A R C H ***/
.lotusSearch .lotusSearchButton{border-color:#2f76b9;}
.lotusSearch .lotusSearchButton:hover, .lotusSearch .lotusSearchButton:focus{border-color:#10395f;}
.lotusSearch .lotusText, .lotusSearch .dijitTextBox, .lotusSearch select{border-color:#5581b7;background-color:#fff !important/*temp fix for dojo*/}
#lotusMain .lotusSearch .lotusText, .lotusMain .lotusSearch .lotusText, #lotusMain .lotusSearch .dijitTextBox, .lotusMain .lotusSearch .dijitTextBox{border-color:#a7a9bb}
.lotusSearch .lotusInactive{color:#999}
.lotusSearch a:hover, .lotusSearch a:focus, .lotusSearch a:active{background-color:transparent}
/***********************************************************/

/*** S E A R C H   T A B ***/
.lotusSearchTab{background-color:#fff;border-color:#ccc;}
.lotusSearchTab:hover, .lotusTabExpanded{color:#414546}
.tabExpanded{border-bottom-color:#fff;}
.lotusSearchTab a, .lotusSearchTab a:visited{color:#000;background-image:url(images/searchArrowClosed.gif);}
.lotusSearchTab a:hover{background-image:url(images/searchArrowHover.gif)}
.lotusTabExpanded{border-bottom-color:#fff}
.lotusTabExpanded a, .lotusTabExpanded a:visited{background-image:url(images/searchArrowOpen.gif)}
.lotusTabExpanded a:hover{background-image:url(images/searchArrowOpenHover.gif)}
#lotusSearchForm, .lotusSearchForm{background-color:#fff;border-color:#ccc;}
#lotusSearchForm input, .lotusSearchForm input{color:#999}
#lotusSearchForm option, .lotusSearchForm option{color:black}
#lotusSearchForm .lotusText, .lotusSearchForm .lotusText{color:#999}
/***********************************************************/

/*S E C T I O N */
.lotusSection input.lotusFormButton{color:#666;}
/*section header and subheader*/
#lotusContent .lotusSection h2, .lotusContent .lotusSection h2{border-top-color:#cccbcb}/*center column*/
#lotusColLeft .lotusSection h2, .lotusColLeft .lotusSection h2{color:#39577a}
#lotusColLeft .lotusSection, 
.lotusColLeft .lotusSection{border-bottom-color:#c9d8e9}

/*draggable sections*/
.lotusDraggableSection h2{background-color:#eeeff1}
/****************************************************************/

/*** S O R T ***/
.lotusSort .lotusAscending{background-image:url(images/sortAscending.gif)}
.lotusSort .lotusDescending{background-image:url(images/sortDescending.gif)}
.lotusSort a.lotusMoreSorts{background-image:url(images/btnDropDown.gif);}
.lotusSort a.lotusMoreSorts:hover, .lotusSort a.lotusMoreSorts:focus, .lotusSort a.lotusMoreSorts:active, .lotusSort .lotusSelected{color:#fff;background-color:#649de1;background-image:url(images/btnDropDownAction.gif) !important;}
/****************************************************************/

/*** S T A T U S ***/
.lotusStatus{background-color:#edfee1;}
.lotusStatus h2{color:#55963e;}
.lotusStatus div{border-bottom-color:#c4e9a9;}
.lotusStatus div em{color: #777;}
/****************************************************************/

/*** T A B L E S ***/
.lotusVertTable th{color:#666;}
.lotusTable{border-bottom-color:#e5e5e5;}
.lotusTable td{border-top-color:#e5e5e5}
.lotusTable .lotusAltRow td{background-color:#f8f8f8;}
.lotusTable th.lotusAltCell, .lotusTable td.lotusAltCell{background-color:#f5f5f5;border-right-color:#fff;border-bottom-color:#fff}
.lotusTable h4.lotusComplete, .lotusTable h4.lotusComplete a{color:#666}
.lotusTable h5{color:#4f9815}
.lotusTable caption, .portlet-table caption{color:#666;background-color:#f3f3f3;border-color:#e0e0e0;}
/*lotusDiscussion is for discussion forums, which treat comments differently*/
.lotusDiscussion .lotusSummary td{border-top-color:#fff}/*this needs to match the background color of the content section - it is for faux spacing*/
.lotusDiscussion .lotusTable .lotusDetails td{border-color:#e7e8ea}
.lotusTable .lotusSS{color:#666;}
.lotusTable .lotusType{color:#666;}/*indicates entry types*/
.lotusPrivate{background-image:url(images/iconPrivate.gif)}/*private entry*/
.lotusSecure{background-image:url(images/iconSecure.gif)}/*secure entry*/
.lotusModeratedComm{background-image:url(images/iconModeratedComm.gif)}/*moderated community entry*/
.lotusTable .lotusPaging, .lotusCaption .lotusPaging, .portlet-table .lotusPaging{background-color:#f3f3f3}
.lotusTable .lotusPaging td, .portlet-table .lotusPaging td{border-color:#e0e0e0;}
.lotusInfoTable {background-color:#f0f0f0 !important/*temp fix for dojo*/;background-image:url("./images/announceBkgd.jpg");border-color:#e3e3e3;}
.lotusInfoTable h2 {color:#73BE59;}
.lotusInfoTable .lotusClose{border-color:#b0b0b0}
.lotusInfoTable .lotusClose:hover, .lotusInfoTable .lotusClose:focus{border-color:#918f8f}
.lotusCaption .lotusPaging, .lotusCaption .lotusPaging td{background-color:transparent}
.lotusCaption select{color:#666}


/*** T A B S ***/
.lotusTabContainer{border-bottom-color:#e0e0e0;}
.lotusTabs li, .portlet-tab li{border-bottom-color:#e0e0e0;background-image:url(images/leftTabContent.gif)}
.lotusTabs a, .lotusTabs a:visited, .portlet-tab a, .portlet-tab:visited{color:#333;background-image:url(images/rightTabContent.gif)}
.lotusTabs a:hover, .lotusTabs a:focus, .lotusTabs a:active, .portlet-tab a:hover, .portlet-tab a:focus, .portlet-tab a:active{color:#000 !important}
.lotusTabs li.lotusSelected, .portlet-tab li.lotusSelected{background-color:transparent;border-bottom-color:#fff;background-image:url(images/leftTabContentSelected.gif);}
.lotusTabs li.lotusSelected a, .lotusTabs li.lotusSelected a:visited, .portlet-tab li.lotusSelected a, .portlet-tab li.lotusSelected a:visited{color:#000;background-image:url(images/rightTabContentSelected.gif);}
/***********************************************************/

/*** T A G   C L O U D ***/
a.lotusF5, a.lotusF5:visited{color:#1c3052}
a.lotusF4, a.lotusF4:visited{color:#2b588e}
a.lotusF3, a.lotusF3:visited{color:#4477bb}
a.lotusF2, a.lotusF2:visited{color:#649cd8}
a.lotusF1, a.lotusF1:visited{color:#8bbce8}
/***********************************************************/

/*** T I T L E   B A R 	***/
#lotusTitleBar, .lotusTitleBar{background-color:#4586d3 !important/*temp fix for dojo*/;border-bottom-color:#6794cb;background-image:url(images/titlebarMid.png);}
#lotusTitleBar .lotusRightCorner, .lotusTitleBar .lotusRightCorner{background-image:url(images/titlebarRight.png)}
#lotusTitleBar .lotusInner, .lotusTitleBar .lotusInner{background-image:url(images/titlebarLeft.png)}
#lotusTitleBar h2, .lotusTitleBar h2{color:#fff;}
#lotusTitleBar .lotusTabs li, .lotusTitleBar .lotusTabs li{border-bottom-color:#6794cb;background-image:url(images/leftTab.gif);}
#lotusTitleBar .lotusTabs a, #lotusTitleBar .lotusTabs a:visited, 
.lotusTitleBar .lotusTabs a, .lotusTitleBar .lotusTabs a:visited{color:#fff;background-image:url(images/rightTab.gif);}
#lotusTitleBar .lotusTabs li.lotusSelected, 
.lotusTitleBar .lotusTabs li.lotusSelected{border-bottom-color:#fff;background-image:url(images/leftTabSelected.gif);}
#lotusTitleBar .lotusTabs li.lotusSelected a, #lotusTitleBar .lotusTabs li.lotusSelected a:visited, 
.lotusTitleBar .lotusTabs li.lotusSelected a, .lotusTitleBar .lotusTabs li.lotusSelected a:visited{color:#000;background-image:url(images/rightTabSelected.gif);}
#lotusTitleBar .lotusTabs li a:hover, #lotusTitleBar .lotusTabs li a:focus, #lotusTitleBar .lotusTabs li a:active, .lotusTitleBar .lotusTabs li a:hover, .lotusTitleBar .lotusTabs li a:focus, .lotusTitleBar .lotusTabs li a:active{color:#fff !important}
#lotusTitleBar .lotusTabs li.lotusSelected a:hover, #lotusTitleBar .lotusTabs li.lotusSelected a:focus, #lotusTitleBar .lotusTabs li.lotusSelected a:active, 
.lotusTitleBar .lotusTabs li.lotusSelected a:hover, .lotusTitleBar .lotusTabs li.lotusSelected a:focus, .lotusTitleBar .lotusTabs li.lotusSelected a:active{color:#000 !important}
/*accessibility*/
#lotusTitleBar .lotusSearchButton, .lotusTitleBar .lotusSearchButton{color:#fff}
.dijit_a11y #lotusTitleBar .lotusTabs li.lotusSelected, .dijit_a11y .lotusTitleBar .lotusTabs li.lotusSelected{background-color:#fff}
/***********************************************************/

/*** T R E E ***/
/*the second class definition for each type of node accommodates a div version of the org chart*/
.lotusOrgChart li a, .lotusOrgChartMiddle{background-image:url(images/orgParentNode.gif);}
.lotusOrgChart a.lotusTop, .lotusOrgChartTop{background-image:url(images/orgTopNode.gif)}
.lotusOrgChart .lotusBottom, .lotusOrgChartBottom{background-image:url(images/orgBottomNode.gif)}
/***********************************************************/

/*** V C A R D (P E R S O N   C A R D)***/
/*!important is needed to override the styles in vcard.css for custom theming*/
.lotusVCard{background-color:#e0e0e0 !important;}
.lotusVCard .lotusContainer{border-color:#c5c5c5 !important;background-color:#eff2f5 !important;}
.lotusVCard a:link, .lotusVCard a:visited, .lotusVCard a:hover, .lotusVCard a:focus, a:active{color:#105cb6 !important}
.lotusVCard .lotusAppLinks td{background-color:#fff !important;background-image:url(images/placeBar.png) !important;border-color:#c5c5c5 !important;}
/*the more arrow, for when there is a second row of application links*/
.lotusVCard .lotusMore{background-image:url(images/iconMoreAppsClosed.gif) !important;}
.lotusVCard .lotusMoreExpanded{background-image:url(images/iconMoreAppsOpen.gif) !important}
/*lotusDetails is the detail area of the card that contains all info for the person*/
.lotusVCard .lotusDetails{border-top-color:#fff !important;background-color:#eff2f5 !important;}
.lotusVCard .lotusPhoto{border-color:#bdc4ca !important;}
/*lotusVCardActions are actions you can perform on this person, from the person card*/
.lotusVCard .lotusPersonActions{background-color:#fff !important;border-top-color:#c5c5c5 !important}
.lotusVCard .lotusPersonActions .lotusInlinelist li{border-left-color:#105cb6 !important}
.lotusVCard .lotusActionMenu a, .lotusActionMenu a:visited{color:#000 !important}
.lotusVCard .lotusActionMenu a:hover{color:#000 !important;background-color:#cfecff !important;}
/*adjustments for an inline version of the card*/
.lotusInlineVCard .lotusEmail{border-color:#c5c5c5 !important;}
.lotusPivotNavToggle a{background-color:#d8d8e0 !important;background-image:url(images/vCardClosed.gif) !important}
.lotusPivotNavOpen .lotusPivotNavToggle a{background-image:url(images/vCardOpen.gif) !important}
/***********************************************************/

/*** V C A R D   H O V E R ***/
.lotusVCardHover{border-color:#aeaeae !important;background-color:#fff79a !important;background-image:url(images/iconProfiles.gif) !important}
.lotusVCardHover:hover, .lotusVCardHover:focus{text-decoration:none !important}
/***********************************************************/

/*** S P E C I A L   S C R E E N S ***/
/*about*/
.lotusAbout #lotusMain, .lotusAbout .lotusMain{background-image:none}
.lotusAbout #lotusContent h1, .lotusAbout .lotusContent h1{color:#fff;}
.lotusAbout #lotusContent h2, .lotusAbout .lotusContent h2{color:#1f70c9}
.lotusAbout #lotusContent h3, .lotusAbout .lotusContent h3{color:#000;}
.lotusAboutBox{background-color:#ecfee0;background-image:url(images/aboutBkgd.png)}

/*announcements*/

/*error*/
.lotusErrorBox{background-color:#fff;border-color:#cfcfcf;}
.lotusError h1{color:#274a71;}

/*login*/
/*this can appear on a plain connections page (gradient background only), or launched in a separate window*/
.lotusLoginBox{background-color:#fff;background-image:url(images/loginBkgd.png);border-color:#a7c0e0;}
.lotusLogin h1, .lotusLogin h2{color:#274a71;}
.lotusDescription h2{color:#000}

/*tools*/
/** Dogear this button **/
a.lotusBookmarkButton{background-image:url(images/bookmarkThisButtonBgBottom.gif);color:#000;}
.lotusToolBMText{color:#FDCC65;}
.lotusToolBMImage{background-image:url(images/bookmarkThisButtonBgTop.gif)}
/**  Dogear this button Firefox **/
a.lotusFFBookmarkButton{color:#000;border-color:#ccc;}
.lotusFFToolBMText{color:#FDCC65;}
.lotusToolHeaderStep {background-color:#4C8AD6;color:#fff;font-weight:bold;}
.lotusToolTip{color:#4F9BEF;}

/*welcome*/

.lotusWelcome .lotusBtnAction, .lotusWelcomeBox .lotusClose{border-color:#457f30}
.lotusWelcomeBox{background-color:#ecfee0;background-image:url(images/welcomeBkgd.png)}
.lotusWelcomeBox h2{color:#fff;}
.lotusWelcomeBox .lotusBtnAction:hover, .lotusWelcomeBox .lotusBtnAction:focus, .lotusWelcomeBox .lotusClose:hover, .lotusWelcomeBox .lotusClose:focus{border-color:#25430c}
/***********************************************************/

/***added by Chris S for dashboard 10/18/07***/
.lotusDashboard #lotusMain{background:url(./images/colBkgd160.gif)}
.lotusDashboard #lotusColRight h2{background-color:transparent;}

.lotusWidget{border-color:#e7eef6;}
.lotusWidget h2{background-color:#e7eef6;}
.lotusWidget h2 .lotusDivider{color:#ccc;}
.lotusWidget .lotusWidgetBody h2 {background-color:transparent;}
.lotusWidget h3{border-bottom-color:#e0e0e0}
.lotusWidgetFooter .lotusProfiles {background-color: #EFFFDE;}
.lotusWidgetFooter .lotusProfiles h3 {color:#6BB751;}
.lotusWidgetButtons li{background-color:#fff;border-color:#d8e0ed;background-image:url(images/widgetButtonBkgd.gif);}
#dogearButton{background-image:url(images/widgetButtonDogear.gif)}
#profileButton{background-image:url(images/widgetButtonProfiles.gif)}
#blogButton{background-image:url(images/widgetButtonBlogs.gif)}
#communityButton{background-image:url(images/widgetButtonCommunities.gif)}
#activityButton{background-image:url(images/widgetButtonActivities.gif)}
#readerButton{background-image:url(images/widgetButtonRSS.gif)}

/************D O J O   S T Y L E S**********************************/
/*these override/add to the styles in dijit.css*/

/*calendar/date picker*/
.dijitCalendarContainer{border-color:#ccc;background-color:#fff}
.dijitCalendarContainer thead{background-color:#eee;}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel, .dijitCalendarNextMonth .dijitCalendarDateLabel{color:#ccc;}
.dijitCalendarCurrentMonth .dijitCalendarDateLabel{color:#000;}
.dijitCalendarBodyContainer .dayFlagPersonalTask,
.dijitCalendarBodyContainer .dayFlagTeamTask,
.dijitCalendarBodyContainer .dayFlagOverdueTask,
.dijitCalendarBodyContainer .dayFlagTodayTask{border-bottom-color:#fff;border-right-color:#fff;}
.dijitCalendarBodyContainer .dayFlagPersonalTask{background-color:#c7e1fa;}
.dijitCalendarBodyContainer .dayFlagTeamTask{background-color:#ccffaa;}
.dijitCalendarBodyContainer .dayFlagOverdueTask{background-color:#f99;}
.dijitCalendarBodyContainer .dayFlagTodayTask{background-color:#ffa;}
.dijitCalendarYearLabel{background-color:#eee;}
.dijitCalendarYearLabel .dijitCalendarPreviousYear, .dijitCalendarYearLabel, .dijitCalendarNextYear{color:#105CB6;}
.dijitCalendarYearLabel .dijitCalendarSelectedYear{color:#999;}
.dijitCalendarIncrease{background-color:transparent;background-image:url(images/calArrowRight.gif)}
.dijitCalendarDecrease{background-color:transparent;background-image:url(images/calArrowLeft.gif)}
.dijit_a11y .dijitCalendarIncrease, .dijit_a11y .dijitCalendarDecrease{border-color:#999}/*for an outline, when images are turned off*/

/* Rich Text Editor*/
.dijitToolbar .dijitToolbarSeparator{background:url(images/rteToolbar.gif);}
.dijitEditorIcon{background-image:url(images/rteToolbar.gif);}
.dijitEditorIconSep{background-position:0px;}
.dijitEditorIconBackColor{background-position:-18px;}
.dijitEditorIconBold{background-position:-36px;}
.dijitEditorIconCancel{background-position:-54px;}
.dijitEditorIconCopy{background-position:-72px;}
.dijitEditorIconCreateLink{background-position:-90px;}
.dijitEditorIconCut{background-position:-108px;}
.dijitEditorIconDelete{background-position:-126px;}
.dijitEditorIconForeColor{background-position:-144px;}
.dijitEditorIconHiliteColor{background-position:-162px;}
.dijitEditorIconHTML{background-position:-702px;}
.dijitEditorIconIndent{background-position:-180px;}
.dijitEditorIconInsertHorizontalRule{background-position:-198px;}
.dijitEditorIconInsertImage{background-position:-216px;}
.dijitEditorIconInsertOrderedList{background-position:-234px;}
.dijitEditorIconInsertTable{background-position:-252px;}
.dijitEditorIconInsertUnorderedList{background-position:-270px;}
.dijitEditorIconItalic{background-position:-288px;}
.dijitEditorIconJustifyCenter{background-position:-306px;}
.dijitEditorIconJustifyFull{background-position:-324px;}
.dijitEditorIconJustifyLeft{background-position:-342px;}
.dijitEditorIconJustifyRight{background-position:-360px;}
.dijitEditorIconLeftToRight{background-position:-378px;}
.dijitEditorIconListBulletIndent{background-position:-396px;}
.dijitEditorIconListBulletOutdent{background-position:-414px;}
.dijitEditorIconListNumIndent{background-position:-432px;}
.dijitEditorIconListNumOutdent{background-position:-450px;}
.dijitEditorIconOutdent{background-position:-468px;}
.dijitEditorIconPaste{background-position:-486px;}
.dijitEditorIconRedo{background-position:-504px;}
.dijitEditorIconRemoveFormat{background-position:-522px;}
.dijitEditorIconRightToLeft{background-position:-540px;}
.dijitEditorIconSave{background-position:-558px;}
.dijitEditorIconSpace{background-position:-576px;}
.dijitEditorIconStrikethrough{background-position:-594px;}
.dijitEditorIconSubscript{background-position:-612px;}
.dijitEditorIconSuperscript{background-position:-630px;}
.dijitEditorIconUnderline{background-position:-648px;}
.dijitEditorIconUndo{background-position:-666px;}
.dijitEditorIconWikiword{background-position:-684px;}
.dijitEditorIconToggleDir{background-position:-540px;}
.RichTextEditable .dijitButtonNode{background-color:transparent;}
.RichTextEditable .dijitToolbar{background:url(images/placeBar.png);border-bottom-color:#999}
.RichTextEditable{border-color:#999;background-color:#fff}
.RichTextEditable .dijitButtonNode .dijitArrowButtonInner{background-image:url(images/btnDropDown.gif);}
/*tooltip*/
.dijitTooltipContainer{border-color:#c5c5c5;background-color:#fff;background-image:url(images/helpBkgd.png)}
/*slider*/
.dijit_a11y div.dijitSliderImageHandle, .dijitSliderImageHandle{background-image:url(images/tagSliderHandle.gif)}
.dijitSliderProgressBar{background-color:#a5c0ec;}
.dijitSliderRemainingBar{background-color:#e3e3e3;}
.dijitSliderBottomBumper, .dijitSliderLeftBumper{background-color:#a5c0ec;}
/*disabled elements*/
.dijitButtonDisabled .dijitButtonNode, .dijitToggleButtonDisabled .dijitButtonNode, .dijitDropDownButtonDisabled .dijitButtonNode, .dijitComboButtonDisabled .dijitButtonNode, .dijitComboBoxDisabled, .dijitSpinnerDisabled, .dijitSpinnerDisabled .dijitButtonNode {
opacity:0.6;
}
/*input fields*/
.dijitTextBox, .dijitTextBox input, .dijitComboBox input, .dijitSpinner input{background-color:#fff !important;}
.dijitTextBox,.dijitComboBox,.dijitSpinner{border-color:#A5AEB5;}