/* Custom IDC CSS */

/* information macros */
.noteMacro { border-style: solid; border-width: 1px; border-color: #F0C000; background-color: #FFFFCE; text-align:left; margin-top: 5px; margin-bottom: 5px; padding: 5px}
.warningMacro { border-style: solid; border-width: 1px; border-color: #c00; background-color: #fcc; text-align:left; margin-top: 5px; margin-bottom: 5px; padding: 5px}
.infoMacro { border-style: solid; border-width: 1px; border-color: #3c78b5; background-color: #D8E4F1; text-align:left; margin-top: 5px; margin-bottom: 5px; padding: 5px}
.tipMacro { border-style: solid; border-width: 1px; border-color: #090; background-color: #dfd; text-align:left; margin-top: 5px; margin-bottom: 5px; padding: 5px}
.informationMacroPadding { padding: 5px 0 0 5px; }

/* IBM IDWB XHTML Stylesheet V1.0 */


div.headtitle { font-size: 2em; font-weight:bold; margin-left: 0em }
div.head0 { font-size: 2em; font-weight:bold; margin-left: 0em; margin-top:0.5em; border-top: solid; border-width: thin }
div.head1 { font-family: arial; font-size: 1.4em; font-weight:bold; margin-left: 1em; padding-top:0.5em; text-indent: -1em }
div.head2 { font-family: arial;  font-size: 1.2em; margin-left: 3em; text-indent: -1em }
div.head3 { font-family: arial;font-size: 1.1em; font-weight:normal; margin-left: 5em; text-indent: -1em  }
div.head4 { font-family: arial; font-size: 1.1em; font-weight:normal; margin-left: 7em; text-indent: -1em  }
div.head5 { font-family: arial; font-size: 1.1em; font-weight:normal; margin-left: 9em; text-indent: -1em  }
div.head6 { font-family: arial; font-size: 1em; font-weight:normal; margin-left: 11em; text-indent: -1em  }
/*div.head0 { font-size: 1em; font-weight:normal; margin-left: 0em; margin-top:0.5em; border-top: solid; border-width: thin }
div.head1 { font-family: arial; font-size: 1em; font-weight:normal; margin-left: 1em; padding-top:0.5em; text-indent: -1em }
div.head2 { font-family: arial;  font-size: 1em; font-weight:normal; margin-left: 3em; text-indent: -2em  }
div.head3 { font-family: arial;font-size: 1em; font-weight:normal; margin-left: 5em; text-indent: -5em  }
div.head4 { font-family: arial; font-size: 1em; font-weight:normal; margin-left: 7em; text-indent: -10em  }
div.head5 { font-family: arial; font-size: 1em; font-weight:normal; margin-left: 9em; text-indent: -15em  }
div.head6 { font-family: arial; font-size: 1em; font-weight:normal; margin-left: 11em; text-indent: -20em  }*/
a.toclink { text-decoration: none }
a.toclink:hover { text-decoration: underline }
a.ptoclink { text-decoration: none }
a.ptoclink:hover { text-decoration: underline }
a.indexlink { text-decoration: none }
a.indexlink:hover { text-decoration: underline }
a.figurelist { text-decoration: none }
a.figurelist:hover { text-decoration: underline }
a.tablelist { text-decoration: none }
a.tablelist:hover { text-decoration: underline }

H1, .title, .pagetitle, .topictitle1 {
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 0.5em;
	word-spacing: 0.1em;
}
#dashboard div.mainSection h2{
	margin: 0;
	padding: 0 0 5px 0;	
	font: normal 3.0em Arial, Verdana, sans-serif;
	color: #000000;
}

.mainpost a strong span {font-size:2.5em;}

.mainpost p a strong span {font-size:2em;}

p { margin-top: 1em; }

.note { margin-top: 1em; margin-bottom: 1em; }

.notetitle, div.notetitle { font-weight: bold; }

div.notebody { margin-left: 2em; }

div.notelisttitle { font-weight: bold; }

H2, .subtitle, .pagesubtitle, .topictitle2 {
    font-size: 1.25em;
	font-style: normal;
	font-weight: bold;
	padding-top: 1em;
	margin-bottom: 0.0em;
	padding-bottom: 0.0em;
}
H3, .boldtitle, .topictitle3 {	
    font-size: 1.0em;
	font-style: normal;
	font-weight: bold;
	padding-top: 0.5em;
	margin-bottom: 0.2em;
	padding-bottom: 0.1em;
}
H4, .topictitle4 {
    font-size: 0.9em;
	font-style: normal;
	font-weight: bold;
	padding-top: 0.5em;
	margin-bottom: 0.1em;
	padding-bottom: 0.1em;
}
h5, .topictitle5 {
    font-size: 0.8em;
	font-style: normal;
	font-weight: bold;
	padding-top: 0.5em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}
h6, .topictitle6 {
    font-size: 0.7em;
	font-style: normal;
	font-weight: bold;
	padding-top: 0.5em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}
/*
div.head2 { font-family: arial;  font-size: 1.2em; margin-left: 3em; text-indent: -1em; line-height: 5pt  }
div.head3 { font-family: arial;font-size: 1.1em; font-weight:normal; margin-left: 5em; text-indent: -1em;line-height: 4pt  }
div.head4 { font-family: arial; font-size: 1.1em; font-weight:normal; margin-left: 7em; text-indent: -1em;line-height: 3pt  }
div.head5 { font-family: arial; font-size: 1.1em; font-weight:normal; margin-left: 9em; text-indent: -1em;line-height: 2pt  }
div.head6 { font-family: arial; font-size: 1em; font-weight:normal; margin-left: 11em; text-indent: -1em;line-height: 1pt  }
*/
