/* Copyright IBM Corp. 2001, 2008 */
/* CSS Document */ /*version 1.08.1 7/29/08*/
/*fixes with *html target IE6 only.  All others are for both IE6 and IE7*/

.lotusui30 .lotusMenu .lotusTree .dijitTreeRow.lotusSelected {
    color: #000000 !important;
    background-color: transparent !important;
}

.xspGroup span span {border-left-style: solid; border-left-width: 1px; padding: 0 7px}

.xspGroup span span.xspFirstItem {
    border-left-width: 0;
    padding-left: 7px;
}
*html .addEditButtonsContainer{display: inline-block; position:relative;padding-top:10px;}

/*solves a lot of layout issues*/
.lotusActionMenu a,
.lotusActionMenu li,
*html .lotusComment,
.lotusCommentBody,
*html .lotusForm div,
*html .lotusHeader,
.lotusList li,
*html #lotusMain,
*html .lotusMain,
.lotusMenu li,
*html .lotusMenuSection,
*html .lotusSection,
*html #lotusWelcomeBox,
*html .lotusWelcomeBox,
.lotusTagCloud li,
a.lotusBookmarkButton,
.lotusViewControl div,
*html .lotusInfoBox,
*html .lotusInfoBox h3,
*html .lotusSection h2, *html .lotusSection h3,
#lotusPlaceBar, .lotusPlaceBar
{zoom:1}/*a better hasLayout option*/

/*solves a lot of other layout issues*/
*html .lotusAboutBox,
*html #lotusContent, 
*html .lotusContent,
/* MKS 1/26/2011 */
.lotusASContent,
.lotusDiscussion .lotusCommentHeader,
.lotusFilters a,
.lotusList,
*html .lotusSearch a,
.lotusSection, .portlet-section,
.lotusSection div.lotusChunk, 
.lotusSection div.lotusSubsection,
.lotusSort a, 
*html .lotusWidget h2,
.lotusMenu .lotusMenuFeed li span,
.lotusRelatedTags a,
.lotusDialog h1
{display:inline-block;}
/*the next two lines are needed to fix text zoom for inline lists in IE7*/
.lotusInlinelist li{display:inline-block}
.lotusInlinelist li{display:inline}

/* MKS 1/26/2011 */
*html .lotusASContent{margin-top:-10px}
*html .queryFieldsdiv{padding-top:20px}
*html .AScheckboxdiv{margin-right:10px}
.queryFieldsdiv{padding-top:10px}

body{position:relative}/*fix for IE7, to keep relatively positioned children looking okay.  Doesn't hurt to have this in place for IE6*/

/*layout/positioning adjustments*/
.lotusDojoSearch .lotusText{margin-left:0}
.lotusSearchButton button{margin-top:-1px}
.lotusActions{padding-bottom:1px}/*to insure the dotted underline border shows in ie*/
.lotusActionBar{margin-bottom:6px !important}
input.lotusBtn, input.lotusFormButton{padding:1px 5px 1px 5px;text-align:center}
input.lotusBtn{font-size:1.1em}
*html #lotusBanner, *html .lotusBanner{margin-bottom:6px}
*html #lotusBanner ul, *html .lotusBanner ul{margin-top:2px}
*html span.lotusBtn img{padding:7px 0 8px 0} /*button with drop-down arrow*/
.lotusWelcome input.lotusBtnSpecial{padding:2px;}
/*#lotusColLeft .lotusSection input.lotusText, .lotusColLeft .lotusSection input.lotusText{margin-left:-10px}*/
*html #lotusColRight #lotusChain, *html .lotusColRight .lotusChain {padding-bottom: 0px;}
*html #lotusContent, *html .lotusContent{padding-left:15px}
.lotusDiscussion .lotusComment{margin-left:10px}
.lotusDiscussion .lotusFlatComment{margin-left:5px}
.lotusDiscussion .lotusCommentHeader{padding:3px 4px 4px 4px;}
.lotusDiscussion .lotusCommentBody, .lotusDiscussion .lotusTable .lotusDetails td{padding-left:0}
.lotusDiscussion .lotusCommentBody div.lotusChunk, .lotusDiscussion .lotusCommentBody div.lotusTags, .lotusDiscussion .lotusTable .lotusDetails td div.lotusChunk, .lotusDiscussion .lotusTable .lotusDetails td div.lotusTags, .lotusDiscussion .lotusTable .lotusDetails td p{margin-left:30px}
.lotusFilters a.lotusFilter{padding:0 5px;line-height:1.6em}
.lotusMenu .lotusMenuFeed li span{margin-left:0;} 
*html #lotusColRight h2 .lotusArrow, *html .lotusColRight h2 .lotusArrow{margin-right:0}
*html .lotusVCard .lotusAppLinks li{padding:0}
.lotusInlineVCard .lotusEmail{padding-top:2px}
*html .lotusSearch .lotusText, .dijitTextBox{padding:2px 5px 3px 5px;}
*html #lotusSearchForm{top:1.9em;}
*html .lotusWidget h2{margin-right:0}
*html .lotusViewControl div{width:40px;height:20px;overflow:hidden}
/*put these additional classes on the same div as lotusViewControl - legacy, we use a table now for view control*/
*html .lotus3views div{width:60px}/*for a 3 option view control*/
*html .lotus4views div{width:80px}/*for a 4 option view control*/

/*miscellaneous hacks*/
input.lotusBtn {padding:3px 0px;}
*html .lotusErrorContent img{position:absolute;top:25px;left:15px}
*html #lotusFrame, *html .lotusFrame{width:expression( documentElement.clientWidth < 990 ? (documentElement.clientWidth == 0 ? (body.clientWidth < 990 ? "990px" : "auto") : "990px") : "auto" );}
.lotusPaging input{font-family:Arial, Helvetica, sans-serif;font-size:.9em}
.lotusVCard .lotusPhoto{position:relative}/*fix for floated elements within a relative container not showing*/
*html .lotusSprite{overflow:hidden}
*html #lotusTitleBar, *html .lotusTitleBar{clear:both}
*html .lotusInfoTable .lotusClose{right:4px;top:-1px}
*html div.lotusLegal .lotusLicense{height:50px;overflow:visible}
.lotusAbout table.lotusLegal{margin-top:25px}
.lotusLegal{font-size:0.9em;}
/* Fix for forms issues with typeahead. For IE6 and IE7 */
.lotusFixedTable{table-layout:fixed;}

.lotusDialogBorder{width:expression(documentElement.clientWidth > 600 ? (documentElement.clientWidth == 0 ? (body.clientWidth > 600 ? "600px" : "auto") : "600px") : "auto" );}
*html .lotusDialog .lotusDialogContent {height:expression(this.scrollHeight > 299 ? "300px" : "auto")}
/***************************/




