/* Copyright IBM Corp. 2001, 2008 */
/* CSS Document */ /*version 1.08.1 7/29/08*/
*html .lotusActionBar, *html .lotusActionBar2{position:static}
.lotusDojoSearch .lotusText{margin-right:0}
.lotusSearchButton button{top:-1px}
.lotusSearchButton button img{top:8px;right:5px}
*html .lotusSearchButton{position:relative;top:0;right:0}
*html .lotusSearchButton button{position:static}
*html .lotusSearchButton button img{top:8px;right:3px}
*html .lotusDojoSearch .lotusText{margin-right:-3px}
#lotusColLeft .lotusSection input.lotusText, .lotusColLeft .lotusSection input.lotusText{margin-right:-10px}
*html #lotusContent, *html .lotusContent{padding-right:15px}
.lotusDiscussion .lotusComment{margin-right:10px}
.lotusDiscussion .lotusFlatComment{margin-right:5px}
.lotusDiscussion .lotusCommentBody, .lotusDiscussion .lotusTable .lotusDetails td{padding-right:0}
.lotusDiscussion .lotusCommentBody div.lotusChunk, .lotusDiscussion .lotusCommentBody div.lotusTags, .lotusDiscussion .lotusTable .lotusDetails td div.lotusChunk, .lotusDiscussion .lotusTable .lotusDetails td div.lotusTags, .lotusDiscussion .lotusTable .lotusDetails td p{margin-right:30px}
*html #lotusColRight h2 .lotusArrow, *html .lotusColRight h2 .lotusArrow{margin-left:0}
*html .lotusWidget h2{margin-left:0}
/*fix for disappearing tabs*/
ul.lotusTabs, .portlet-tab{zoom:1;position:relative;}
#lotusTitleBar ul.lotusTabs, #lotusTitleBar ul.lotusTabs .portlet-tab, .lotusTitleBar ul.lotusTabs, .lotusTitleBar ul.lotusTabs .portlet-tab{bottom:-1px;position:absolute;width: 95%;}
.lotusTabContainer ul.lotusTabs, .lotusTabContainer .portlet-tab{bottom:-1px;}
*html #lotusMain{left:-1px}
/*dojo adjustments*/
*html .dijitDialogCloseIcon{margin-right:12px}
.dj_ie .dijit_a11y div.dijitSliderImageHandle, .dj_ie .dijitSliderImageHandle{background-position:right top;}
span.lotusBtn a{float:none}
#lotusBanner ul li span.lotusUser, .lotusBanner ul li span.lotusUser{display:inline-block}
/*need to do this to solve an issue with the person photo appearing outside the person card in ie, undoes the fix for LTR*/
.lotusVCard .lotusPhoto{position:static}





