#lotusBanner, .lotusBanner {display:none !important}
.addEditButtonsContainer {display:none !important}
#lotusContent, .lotusContent{overflow:visible !important}
#lotusMain, .lotusMain {overflow:visible !important}
#lotusFooter, .lotusFooter {display:none !important}
#lotusTitleBar, .lotusTitleBar {display:none !important}
#lotusColLeft, .lotusColLeft {display:none !important}
#lotusColRight, .lotusColRight {display:none !important}
.tocWrapper {display:none !important}
#addInfo{display:none !important}
.pageToolbar{display:none !important}
.attachments{display:none !important}
.revisions{display:none !important}
/*source code in wiki content */
.wikicode {border:1px solid silver;overflow: auto;}	
.wikicode pre {background-color: #F3F3F3;font-size: 1em;color: black; font-family: consolas, "Courier new", Courier, Monospace; margin: 0em;border-width:0;padding:0;border:none;}
.wikicode .rem { color: #008000; }
.wikicode .kw { color: #0000ff; }
.wikicode .str { color: #006080; }
.wikicode .html { color: #800000; }
.wikicode .attr { color: #ff0000; }
.wikicode .alt {background-color: white;width: 100%;margin: 0em;}
.wikicode .ln { color: #606060; }
/* end wiki code */
.lotusTitleBar2{display:none;}
#lotusBreadcrumbs{display:none;}
#rare_widget_div,#stars_div{display:none;}
#divNfluent, #transMsgNfluent, .addCommentPanel, #transMsgLocale, .lotusMessage2{display:none;}
div.noPrint {display:none !important}
span.lotusBtn {display:none !important}
button.lotusBtn {display:none !important}
aside.lotusColRight {display:none !important}
footer {display:none !important}