<?xml version='1.0' encoding='utf-8'?>
<page name='White Page' alias='White Page' xmlns='http://www.lotus.com/dxl'
 version='9.0' replicaid='80257B63004C2951' publicaccess='false' designerversion='6'
 language='en' noinitialfocus='true' nofocusonf6='true'>
<noteinfo noteid='32a' unid='F409591A11576DA18025750F005A127B' sequence='104'>
<created><datetime>20081128T162349,71+00</datetime></created>
<modified><datetime dst='true'>20130623T124237,76+01</datetime></modified>
<revised><datetime dst='true'>20130623T124237,75+01</datetime></revised>
<lastaccessed><datetime dst='true'>20130623T124237,76+01</datetime></lastaccessed>
<addedtofile><datetime dst='true'>20130526T221238,98+01</datetime></addedtofile></noteinfo>
<updatedby><name>CN=Sean Cull/O=FoCul</name></updatedby>
<wassignedby><name>CN=Sean Cull/O=FoCul</name></wassignedby>
<body><richtext>
<pardef id='1'/>
<par def='1'/></richtext></body>
<item name='$$ScriptName' summary='false' sign='true'><text>White Page</text></item></page>

